//banner mobile
.labs-hero{
    height: 580px;
    background: url('../../assets/images/labs/bannermobile.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .labs-hero-title{
        margin: 0 auto;
        h1{
            margin-top: 162px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            @media (max-width: 767px){
              margin-top: 200px;
            }
        }
        h2{
          font-weight: 500 !important; 
        }
    }
    .labs-hero-content{
      @media (max-width: 767px){
        z-index: 100;
      }
    h2{
        font-size: 34px;
        line-height: 34px;
        text-align: center;
        font-weight: 400;
        width: 320px;
        margin: 198px auto 0 auto;
        @media (max-width: 767px){
          color: white;
          font-size: 28px;
          font-weight: lighter;
          text-align: center;
          margin: 5px auto 0 auto;
        }
    }
    }
    .arrow{
    margin-top: 0;
    }
    .zindex{
      z-index: 100;
    }
    .mask{
      max-width: 90%;
      @media (max-width: 768px){
        max-width: 100%;
      }
      mix-blend-mode: multiply;
    }
    .maskDiv{
      img{
          top: 10%;
          left: 0;
          width: 100%;
          mix-blend-mode: multiply;
      }
  }
}

.container.titleCarousel{
    h2{
        font-size: 28px;
        font-weight: 600;
        line-height: 1.3;
        color: $cinza-dark-cyber-tivit;
        margin-bottom: 45px;
        text-align: center;
        text-transform: uppercase;
    }
}

#timeline{
    padding: 100px 0 80px 0px;
    @media(max-width: 1024px){
        padding: 100px 0 0px 0px;
    }
    .container.titleCarousel{
        h2{
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            color: $cinza-dark-cyber-tivit;
            line-height: 1.4;
            text-align: center;
        }
    }
}

#intro-labs{
    padding: 150px 0 130px 0;
    @media(max-width: 1024px){
        padding: 20px 0 100px 0; 
    }
    .text{
        h2{
            font-size: 36px;
            color: $cinza-dark-cyber-tivit;
            font-weight: 500;
            line-height: 1.3;
            text-align: center;
            max-width: 610px;
            @media(max-width: 1024px){
                font-size: 28px;
            }
            strong{
                color: $vermelho-tivit !important; 
                font-weight: lighter !important;
            }
        }
    }
}

#carouselCustom.labs{
    .card{
        .content{
            border-left: 4px solid $vermelho-tivit;
            border-top: 1px solid #CAD2D8;
            border-right: 1px solid #CAD2D8;
            border-bottom: 1px solid #CAD2D8;
            h2{
                max-width: 165px;
                line-height: 1.2;
                height: 80px;
            }
        }
    }
    .carousel-inner{
        right: -10%;
    @media(max-width: 1024px){
            right: 0;
        }
    }
}

#carouselCustom.timelineCarousel{
    margin: 50px 0 50px 0;
    .carousel-inner{
        right: -10%;
        @media(max-width: 1024px){
            right: 0;
        }
    }
    .counter2{
        margin-left: 15px;
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        z-index: 2;
        .numactive2{
          color: $vermelho-tivit;
          font-weight: 700;
        }
        .numseparation2, .numtotal2{
          color: $vermelho-tivit;
          font-weight: 300;
        }
        .numseparation2{
          margin-left: 10px;
          margin-right: 10px;
        }
      }
}

#virtual{
    padding: 50px 0 0px 0;
}

.a-tivit-cases.cases.labs{
    margin-top: 40px;
}

@media(min-width: 760px){
    //banner desktop
    .labs-hero{
        height: 580px;
        background: url('../../assets/images/labs/bannerdesktop.jpg') no-repeat center center;
        background-size: cover;
        height: 580px;
        .labs-hero-title{
          margin: 0 auto;
          h1{
              margin-top: 200px;
              font-size: 16px;
              line-height: 22px;
              font-weight: 600;
              color: #fff;
              text-transform: uppercase;
              text-align: center;
          }
          h2{
            font-weight: 500 !important; 
            color: white;
            text-align: center;
            max-width: 550px;
          }
          p{
              font-size: 18px;
              color: white;
              line-height: 1.3;
              text-align: center;
              margin-top: 15px;
              max-width: 554px;
          }
      }
      .arrow{
      margin-top: 0;
      }
      .mask{
          max-width: 1235px;
          top: 0;
      }
    }

    .home-pessoas-e-carreiras.inovar.labs{
        background: url('../../assets/images/labs/carreiras.jpg') no-repeat center center;
    }
}