.dev {
  margin-top: 90px;
}

section {
  //margin-top: 40px;
}

.btn-tivit1 {
  border-radius: 30px;
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FE4817;
  transition: all 0.5s;
  border: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;


  &:hover {
    background: #990017;
    color: white;
  }
}

.header-landing {
  height: 520px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  @media screen and (max-width: 991px) {
    background-size: unset !important;
    background-position: center !important;
  }

  .mask-header {
    background: #262626;
    opacity: 0.5;
  }

  .mask-header-gradient {
    background: linear-gradient(270.27deg, rgba(0, 0, 0, 0.9) 0.24%, rgba(0, 0, 0, 0.09) 99.76%);
    opacity: 0.3;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  .box-logo {
    h1, h2, h3, h4, h5, h6, .title-header {
      max-width: 320px;;
      font-style: normal;
      font-weight: 400;
      font-size: 48px;
      line-height: 52px;
      text-align: center;
      color: #FFFFFF;
      @media screen and (max-width: 991px) {
        max-width: 220px;
        font-size: 32px;
        line-height: 38px;
      }
    }

    .box-img-logo {
      margin-bottom: 10px;
    }
  }
}

.box-chamada-pagina {
  padding: 130px 0px 70px 0px;
  margin-top: 0px;
  @media screen and (max-width: 991px) {
    padding: 40px 0px 40px 0px;
  }

  .box-title {
    p {
      max-width: 830px;
      font-style: normal;
      font-weight: 500;
      font-size: 36px;
      line-height: 40px;
      text-align: center;
      color: #262626;
      @media screen and (max-width: 991px) {
        width: 100% !important;
        font-size: 24px;
        line-height: 28px;
      }
    }
  }

}

.box-cta {
  margin: 50px 0px;


  .alternative {
    .btn-tivit1 {
      background: #990017;

      &:hover {
        background: #FE4817;

      }
    }
  }
}

$primary-color: #990017;

.box-intro {
  margin: 70px 0px;
  z-index: 0;

  .box-modulo {
    position: relative;
    height: 250px;
    @media screen and (max-width: 991px) {
      height: auto;
      padding: 40px;
    }
  }

  .box-cta {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    z-index: 1054;
    @media screen and (max-width: 991px) {
      width: 100%;
    }

    p {
      width: 100%;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      color: #FFFFFF;
    }

    .btn-outline-primary {
      margin-top: 25px;
      z-index: 1054;
      width: 280px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid white;
      border-radius: 33px;
      color: white;
      cursor: pointer;
      transition: all 0.5s;

      &:hover {
        background: $primary-color;
        border: $primary-color solid 1px;
      }

      @media screen and (max-width: 991px) {
        margin-bottom: 25px;
      }
    }
  }

  /*.box-below {
    height: 250px;
    position: relative;
    @media screen and (max-width: 991px){
      height: auto;
      padding: 40px;
    }
  }*/

  .mask {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 48.96%, #000000 100%);
  }

  h4 {
    z-index: 1054;
    width: 82%;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #FFFFFF;
    horiz-align: center;
    @media screen and (max-width: 991px) {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  img {
    @media screen and (max-width: 991px) {
      margin-bottom: 30px;
      margin-top: 20px;
      width: 100% !important;
    }
  }

  p {
    z-index: 1054;
    width: 82%;
    color: white;
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 991px) {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .logo-tivit {
    z-index: 1054;
    width: 231px;
  }
}

.box-txt-img {
  .box-modulo {
    height: 500px;
    @media screen and (max-width: 991px) {
      height: auto;
      padding: 40px;
    }
  }

  .box-text {
    width: 87%;
    @media screen and (max-width: 991px) {
      width: 100%;
    }
  }

  h1, h2, h3, h4, h5, h6, .titulo {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    /* or 122% */
    color: #FE4817;

    strong, b {
      font-weight: 700;
    }

    margin-bottom: 25px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    /* Cinza Dark Tivit */

    color: #262626;
  }

  &.dark-theme {
    background: #262626;

    .box-modulo {
    }

    p {
      color: white;
    }

    h1, h2, h3, h4, h5, h6, .titulo {
      color: white;

      strong {
        color: #FE4817;
      }
    }
  }
}

.box-card-icons {
  padding-top: 55px;
  padding-bottom: 60px;
  //height: 920px;
  .box-title-top {
    .title-top {
      width: 95%;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 44px;
      color: #000000;
      text-align: center;
      @media screen and (max-width: 991px) {
        font-size: 19px;
        line-height: 22px;
      }
    }
  }

  .box-cards {
    padding-top: 45px;
    @media screen and (max-width: 991px) {
      padding-top: 25px;
    }

    .card {
      min-height: 290px;
      border: unset;
      border-radius: 0px;

      .card-body {
        background: #FBFBFC;
        border: 1px solid #CAD2D8;
        @media screen and (max-width: 991px) {
          padding-bottom: 25px;
        }

        h1, h2, h3, h4, h5, h6, .card-title {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 28px;
          color: #FE4817;
          margin-bottom: 25px;
          @media screen and (max-width: 991px) {
            margin-bottom: 15px;
            //text-align: center;
            font-size: 19px;
            line-height: 22px;
          }
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          @media screen and (max-width: 991px) {

          }
          /* Cinza Dark Tivit */

          color: #262626;
        }

        img {
          max-height: 70px;
        }
      }
    }

    .box-img {
      @media screen and (max-width: 991px) {
        margin-bottom: 15px;
        margin-top: 15px;
      }
    }
  }

  .card {
    background: transparent;
  }

  &.alternative {
    background: #C7EDE3;

    .box-title-top {
      .title-top {
        color: #990017;
      }
    }

    .box-cards {
      .card {
        .card-body {
          h1, h2, h3, h4, h5, h6, .card-title {
            color: black;
          }

          p {
            color: black;
          }
        }
      }
    }
  }
}

.box-list-img {
  padding: 150px 0px;

  .box-title-top {
    padding: 0px 0px 75px 0px;
    @media screen and (max-width: 991px) {
      padding-bottom: 0px;
    }

    .title-top {
      width: 95%;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 44px;
      color: #000000;
      text-align: center;
      @media screen and (max-width: 991px) {
        font-size: 19px;
        line-height: 22px;
      }
    }
  }

  .linha-dados {
    justify-content: start;
  }

  .box-list {
    .card {
      background: transparent;
      border-radius: 0px;
      border: unset;
      border-bottom: 1px solid #CAD2D8;
      padding: 28px 0px;

      &:first-child {
        margin-top: 0px;
      }

      .card-body {
        padding: 0px;

        h1, h2, h3, h4, h5, h6, .card-title {
          width: 190px;
          font-style: normal;
          font-weight: 700;
          font-size: 28px;
          line-height: 28px;
          color: #FE4817;
        }

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: #262626;
        }
      }
    }
  }

  .box-img {
    @media screen and (max-width: 991px) {
      margin: 75px 0px 25px 0px;
    }
  }

  &.alternative {
    background: #262626;

    .box-title-top {
      .title-top {
        color: #FE4817;
      }
    }

    .linha-dados {
      justify-content: end;
    }

    .box-list {
      .card {
        .card-body {

          h1, h2, h3, h4, h5, h6, .card-title {

          }

          p {
            color: #FFFFFF;
          }
        }
      }
    }
  }

  .box-cta {
    margin-bottom: 0px;
  }
}

.box-banner-solucoes {
  padding: 70px 0px;

  .box-img {
    .box-overlay {
      background: linear-gradient(360deg, rgba(0, 0, 0, 1) 8.36%, rgba(0, 0, 0, 0) 74.48%);
      mix-blend-mode: normal;
      padding: 20px;
      display: flex;
      @media screen and (max-width: 991px) {
        background: rgb(0, 0, 0);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 8.36%, rgba(0, 0, 0, 0.1) 74.48%);
      }

      h1, h2, h3, h4, h5, h6, .box-title-img {
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 36px;
        text-transform: uppercase;
        color: #FFFFFF;
        display: flex;
        align-items: end;
        @media screen and (max-width: 991px) {
          align-items: start;

        }
      }
    }

    .box-overlay-mandala {
      right: -35%;
      z-index: 1054;
      @media screen and (max-width: 991px) {
        right: 0;
        bottom: -20%;
      }

      img {
        max-height: 258px !important;
      }
    }
  }

  .box-solucoes {
    .box-dados-list {
      padding: 50px 90px 50px 0px;
      @media screen and (max-width: 1367px) {
        padding: 50px 50px 50px 0px;
      }
      @media screen and (max-width: 991px) {
        padding: 150px 30px 50px 30px;
      }
    }

    .box-title {
      .box-title-solucoes {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        @media screen and (max-width: 991px) {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    .listagem {
      margin-top: 15px;

      li {
        list-style-type: square;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        @media screen and (max-width: 991px) {
          font-size: 14px;
          line-height: 18px;
        }

        strong {
          font-weight: 700;
        }
      }
    }

    .box-cta {
      margin-bottom: 0px;
      margin-top: 25px;
      @media screen and (max-width: 991px) {
        margin-top: 50px;
      }

      .btn-tivit1 {
        background: white;
        color: #F14517;

        &:hover {
          background: #990017;
          color: white;
        }
      }
    }
  }
}

.box-big-number {
  .box-title-top {
    padding-top: 40px;
    padding-bottom: 40px;

    h1, h2, h3, h4, h5, h6, .title-top {
      z-index: 1054;
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 44px;
      color: #000000;
    }
  }

  .box-cards {
    padding-bottom: 140px !important;
    @media screen and (max-width: 991px) {
      padding-bottom: 70px !important;
    }

    .card {
      padding: 40px;
      border-radius: 0px;
      background: #FBFBFC;
      border: 1px solid #CAD2D8;

      .card-body {
        h1, h2, h3, h4, h5, h6, .card-title {
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 48px;
          color: #FE4817;
          margin-bottom: 25px;
        }

        p, .card-text {
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #262626;
        }
      }
    }
  }

  .fundo-50-top {
    bottom: 0px;
    //background: red;
  }
}

.box-parceiros, .box-nosso-clientes {
  .owl-stage-outer {
    //overflow: visible;
  }

  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #F20024;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 70px;
  }

  .box-title {
    h1, h2, h3, h4, h5, h6, .title-box {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 44px;
      text-transform: uppercase;
      color: #262626;
      margin-bottom: 0px;
    }
  }

  .box-slider {
    //margin-top: 50px;
    //margin-bottom: 130px;
    @media screen and (max-width: 991px) {
      padding: 40px 0px;
    }
    //height: 400px;
    .slider-parceiros {
      .item {
        img {

          @media screen and (min-width: 991px) {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            filter: gray; /* IE */
            transition: 0.5s;
          }

          &:hover {
            -webkit-filter: unset;
            filter: unset;
            filter: unset; /* IE */
            transform: scale(1.1);
            transition: all 0.5s;
          }
        }
      }
    }
  }
}

.box-nosso-clientes {
  .box-slider {
    .box-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      padding: 0px 20px;
      @media screen and (min-width: 991px) {
        padding: 0px 0px;
      }
      img {
        @media screen and (min-width: 991px) {
          height: 70px;
          padding: 0 20px;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          filter: gray; /* IE */
          transition: 0.5s;
        }

        &:hover {
          -webkit-filter: unset;
          filter: unset;
          filter: unset; /* IE */
          transform: scale(1.2);
          transition: all 0.5s;
        }
      }
    }
  }
}

.box-slider {
  padding: 100px 0px;
  margin-top: -0.5px;

  .box-triangulo {
    z-index: 1001;

    .box-triangulo-color {
      width: 66px;
      height: 28px;
      clip-path: polygon(51% 100%, 0 0, 100% 0);
    }
  }

  .box-mask {
    mix-blend-mode: multiply;
    z-index: 1;

    .mask {
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      mix-blend-mode: multiply;

      img {

      }
    }
  }

  .box-solid {
    z-index: 1000;
    //height: 640px !important;
    overflow: hidden !important;
    @media screen and (max-width: 991px) {
      height: 350px !important;
    }

    .box-title-solid {
      z-index: 2000;
      padding: 50px 50px;
      //padding-right: 250px;
      @media screen and (max-width: 991px) {
        padding: 20px 20px;
      }

      h1, h2, h3, h4, h5, h6, .title-solid {
        font-style: normal;
        font-weight: 300;
        font-size: 48px;
        line-height: 52px;
        width: 345px;


        strong, b {
          font-style: normal;
          font-weight: 700;
          font-size: 48px;
          line-height: 52px;
        }
      }
    }

    p, .card-text {
      width: 75%;
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
      margin-top: 10px;
      color: #FFFFFF;
      @media screen and (max-width: 991px) {
        width: 100%;
      }
    }

    .cta-theme {
      z-index: 2;
      margin-top: 30px;
      border: 1px solid white;
      border-radius: 30px;
      padding-right: 30px;
      padding-left: 30px;
      color: white;

      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      transition: 0.5s;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 200px;

      &:hover {
        background: #990017;
        border: 1px solid #990017;
      }
    }
  }

  .case-sliders {

    .slide {
      .carousel-inner {


        .box-images {
          //height: 640px !important;
          @media screen and (max-width: 991px) {
            height: 400px !important;
          }
          overflow: hidden;

          .card {
            border-radius: 0px;
            border: 0px;

            .card-body {
              border-radius: 0px;
              border: 0px;
            }

            .card-img-overlay {
              padding: 70px;
              @media screen and (max-width: 991px) {
                padding: 20px 20px;
              }
              border-radius: 0px;
              border: 0px;
              background: linear-gradient(360deg, rgba(0, 0, 0, 0.9) 8.36%, rgba(0, 0, 0, 0.2) 74.48%);
              mix-blend-mode: normal;

              .box-text {
                z-index: 1001;

                * {
                  text-align: right;
                }

                h1, h2, h3, h4, h5, h6, .card-title {
                  width: 75%;
                  font-style: normal;
                  font-weight: 700;
                  font-size: 36px;
                  line-height: 42px;
                  text-align: right;
                  letter-spacing: 0.03em;
                  text-transform: uppercase;
                  color: #FFFFFF;
                  transition: opacity 0.75s;
                  @media screen and (max-width: 991px) {
                    width: 100%;
                  }
                }

                p, .card-text {
                  width: 75%;
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 24px;
                  /* or 133% */
                  margin-top: 10px;

                  text-align: right;
                  transition: opa 0.75s;
                  /* Branco */

                  color: #FFFFFF;
                  @media screen and (max-width: 991px) {
                    width: 100%;
                  }
                }

                a, .cta-slider {
                  font-style: normal;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 21px;
                  display: flex;
                  align-content: center;
                  align-items: center;
                  text-transform: uppercase;
                  color: #FFFFFF;
                  padding: 0px;
                  border: 0px;
                  margin-top: 30px;
                  transition: 0.5s;

                  &:hover, &:active, &:focus, &:visited {
                    border: 0px;
                  }

                  &:hover {
                    color: #F14517;
                  }

                  &::after {
                    content: "";
                    background: url(../images/modulos/slider/arrow_forward.svg);
                    background-size: cover;
                    display: inline-flex;
                    width: 16px;
                    height: 16px;
                    margin-left: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .carousel-indicators {
    position: absolute;
    right: unset;
    bottom: 70px;
    left: -90%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    list-style: none;
    z-index: 1001;
    @media screen and (max-width: 991px) {
      //left: 20px !important;
      bottom: unset !important;
      top: -50px;
      padding: 0;
      margin-right: 0;
      margin-bottom: 0;
      margin-left: 0;
      position: absolute;
      right: 0;
      bottom: unset;
      left: 0;
    }
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .carousel-control-prev {
    left: 20px;
    //bottom: 50px;
    //align-items: end;
    @media screen and (max-width: 991px) {
      //padding: 0px;
      //left: 20px !important;
      //bottom: unset !important;
      //top: 306px;
      //padding: 0px !important;
    }
  }

  .carousel-control-next {
    right: 20px;
    //left: 68px;
    //bottom: 50px;
    //align-items: end;
    @media screen and (max-width: 991px) {
      //left: 45px !important;
      //bottom: unset !important;
      //top: 306px;
      // padding: 0px !important;
    }
  }

  .carousel-control-prev-icon {
    left: 35px;
    width: 20px;
    height: 20px;
    background: url("../images/modulos/slider/arrow_last.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .carousel-control-next-icon {
    width: 20px;
    height: 20px;
    background: url("../images/modulos/slider/arrow_next.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .bg-slider {
    z-index: -1;

    .box-50per {
    }
  }
}

.card-only-text {
  padding: 70px 0px;

  .box-title {
    h1, h2, h3, h4, h5, h6 .title {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 43px;
      text-align: center;
      text-transform: uppercase;
      color: #262626;
      margin: 0px;
      @media screen and (max-width: 991px) {
        font-size: 18px;
        text-align: left;
      }
    }
  }

  .box-text {
    p, .box-text {
      max-width: 980px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #262626;
      margin: 0px 20px;
      margin-top: 10px;
      @media screen and (max-width: 991px) {
        font-size: 16px;
        text-align: left;
        margin: 0px;
        margin-top: 10px;
      }
    }
  }

  .box-cards {
    .card {
      border-radius: 0px;
      padding: 30px 30px;
      border: 1px solid #CAD2D8;
      border-left: 5px solid;
      @media screen and (min-width: 991px) {
        min-height: 300px;
      }

      .card-header {
        border-radius: 0px;
        background-color: unset;
        border: unset;
        padding-top: 0px;
        padding-left: 0px;

        h1, h2, h3, h4, h5, h6, .card-title {
          max-width: 148px;
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #582689;
        }
      }

      .card-body {
        padding: 0px;
        display: flex;
        align-items: center;

        .box-card-text {
          min-height: 50%;

          p, .card-text {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            /* or 125% */

            letter-spacing: 0.02em;
            color: #262626;

          }
        }
      }
    }
  }

  .btn-tivit1 {
    background: #582689;

    &:hover {
      background: #2F154A;
    }
  }

  &.alternative {
    background-color: #262626;

    .box-title {
      h1, h2, h3, h4, h5, h6 .title {
        color: white;
      }
    }

    .box-text {
      p, .box-text {
        color: white;
      }
    }

    .card {
      //background: transparent;

      .card-body {
        .box-card-text {
          p, .card-text {
            //color: white;
          }

        }
      }
    }

    .btn-tivit1 {
      background: #FE4817;

      &:hover {
        background: #990017;
      }
    }
  }
}

.cards-images-centred {
  padding: 100px 0px;

  .box-title {
    h1, h2, h3, h4, h5, h6 .title {
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 44px;
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;
      color: #262626;
      @media screen and (max-width: 991px) {
        font-size: 18px;
        text-align: left;
      }
    }
  }

  .box-cards {
    .card {
      border: 1px solid #CAD2D8;

      .card-body {
        img {
          max-height: 85px;
          margin-bottom: 30px;
        }

        h1, h2, h3, h4, h5, h6, .card-title {
          max-width: 269px;
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          /* or 120% */

          text-align: center;
          text-transform: uppercase;

          /* Roxo TBanks */

          color: #582689;
        }
      }
    }
  }

  &.alternative {
    .card {
      background: white;

    }
  }
}

.box-feedback-cliente {
  padding: 100px;

  .box-title {
    margin-bottom: 70px;

    h1, h2, h3, h4, h5, h6, .title {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: #262626;
    }
  }

  .feedbackSlider {
    height: 310px;

    .carousel-inner {
      height: 100% !important;

      .box-img {
        height: unset !important;

        img {
          border-radius: 50%;
          height: 62px;
        }
      }

      .info-user {
        margin-top: 10px;

        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          color: #000000;

          strong {
            font-size: 18px;
            font-weight: 600;
          }
        }
      }

      .box-feedback {
        margin-top: 20px;
        margin-bottom: 20px;

        p {
          max-width: 765px;
          font-style: normal;
          font-weight: 300;
          font-size: 28px;
          line-height: 34px;
          text-align: center;
          color: #582689;
          justify-self: center;
          @media screen and (max-width: 991px) {
            max-width: 80%;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 40px;
          }
        }
      }
    }

    .carousel-indicators {
      margin-bottom: 0px !important;
      bottom: -20px;
    }
  }

  .carousel-indicators [data-bs-target] {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  &.alternative {
    background: #262626;

    .box-title {
      h1, h2, h3, h4, h5, h6, .title {
        color: white;
      }
    }

    .info-user {
      margin-top: 10px;

      p {
        color: white !important;

        strong {
          color: #F14517 !important;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }

    .box-feedback {
      p {
        color: white !important;
      }
    }

    .carousel-indicators [data-bs-target] {
      background: #F14517;
      background-clip: padding-box;
    }
  }
}

.box-form-contato {
  background: #f4f6f7;
  padding: 120px 0px;

  .box-title {
    margin-bottom: 90px;

    h1, h2, h3, h4, h5, h6, .title {
      max-width: 550px;
      font-weight: 400;
      font-size: 36px;
      line-height: 42px;
      text-align: center;
      color: #262626;
    }
  }

  .box-form {
    .box-name-form {
      //margin-bottom: 43px;
      h1, h2, h3, h4, h5, h6, .form-name {
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #262626;
        margin: 0px;
      }
    }

    .form-case {
      input[type=text], input[type=email] {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        display: flex;
        align-items: center;
        color: #3A3A3A;
        border-radius: 0px;
        background-color: transparent;
        border: unset;
        border-bottom: 1px solid #92A2AE;
        //padding-left: 0px;

        &::placeholder {
          color: #3A3A3A;
        }
      }

      input, select, textarea {
        box-shadow: unset;
      }

      select {

      }

      input[type=checkbox] {
        border-radius: 0px;

        &:checked {
          background: #582689;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
          border: unset;
        }
      }

      select {
        border: unset;
        border-bottom: 1px solid #92A2AE;
        background-color: transparent !important;
        box-shadow: unset;
        //padding-left: 0px;
        border-radius: 0px;
        font-size: 14px;
        line-height: 21px;

        &::-ms-expand {
          border-radius: 0px;
          border: unset;
        }

        option {
          height: 40px;
          border-radius: 0px;
          color: #3A3A3A;
        }
      }

      textarea {
        background: transparent;
        border: 1px solid #92A2AE;
        border-radius: 0px;
        height: 170px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        color: #3A3A3A;
      }

      .btn-form {
        width: 100%;
        background: #582689;

        &:hover {
          background: #2F154A;
        }
      }
    }
  }

  .info-form {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 15px;
    color: #262626;
  }

  .form-check-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #262626;
  }

  &.alternative {
    background: #262626 !important;

    .box-title {
      h1, h2, h3, h4, h5, h6, .title {
        color: #F14517 !important
      }
    }

    .box-form {
      .box-name-form {
        //margin-bottom: 43px;
        h1, h2, h3, h4, h5, h6, .form-name {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0.02em;
          text-transform: uppercase;
          color: #F14517 !important;
          margin: 0px;
        }
      }

      .form-case {
        input[type=text], input[type=email] {
          color: white;
          border-bottom: 1px solid white;

          &::placeholder {
            color: white;
          }
        }

        input, select, textarea {
          box-shadow: unset;
        }

        select {

        }

        input[type=checkbox] {
          border-radius: 0px;

          &:checked {
            background: #F14517;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
            border: unset;
          }
        }

        select {
          border: unset;
          border-bottom: 1px solid white;
          background-color: transparent;
          box-shadow: unset;
          //padding-left: 0px;
          border-radius: 0px;
          font-size: 14px;
          line-height: 21px;
          color: white;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
        }

        textarea {
          border: 1px solid white;
          color: white;
        }

        .btn-form {
          width: 100%;
          background: #FE4817;

          &:hover {
            background: #990017;
          }
        }
      }
    }

    .info-form {
      font-style: normal;
      font-weight: 400;
      font-size: 10px;
      line-height: 15px;
      color: white;
    }

    .form-check-label {
      color: white;
    }
  }
}