// Banner
.cases-hero{
    height: 580px;
    background: url('../../assets/images/cases/banner-mobile.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .cases-hero-title{
        margin: 0 auto;
        h1{
            margin-top: 162px;
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
    }
    .cases-hero-content{
    h2{
        font-size: 34px;
        line-height: 34px;
        text-align: center;
        font-weight: 400;
        width: 320px;
        margin: 198px auto 0 auto;
    }
    }
    .botao{
      margin-bottom: 30px;
      a{
        background: transparent;
        color: $vermelho-tivit;
        border: solid 1px $vermelho-tivit;        
      }
    }
    .arrow{
    margin-top: 0;
    }
}

// Depoimentos
.cases-depoimentos{
    padding-top: 50px;
    .img{
      margin-top: 50px;
    }
    .title-autor{
      margin-top: 10px;
      h3{
        font-size: 16px;
        line-height: 24.34px;
        font-weight: 600;
        margin: 0;
      }
    }
    .desc-autor{
      p{
        font-size: 14px;
        line-height: 21.29px;
        margin: 0;
      }
    }
    .depoimento{
      margin-top: 30px;
      p{
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        width: 328px;
        margin: 0 auto;
      }
      span{
        color: $vermelho-tivit;
      }
    }
    .botao{
      margin-top: 45px;
      a{
        color: white;
        text-decoration: none;
      }
    }
}

// Cases
.a-tivit-cases.cases{
  background: linear-gradient(to top, $cinza-dark-cyber-tivit 50%, white 50%); /* W3C */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  height: 580px;  

  #hero{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
  }
  .detalhes{
    margin-top: 230px;
  }
  .tag{
    width: 284px;
    margin: 5px auto 15px auto;
    a{
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 4px 10px;
      &:hover{
        background: #fff;
        color: $vermelho-tivit;
        border: 1px solid $vermelho-tivit;
      }
    }
    :first-child{
      margin-right: 5px;
    }

  }

  .fundo1{
    background-image: url('../../assets/images/cases/bg-cases.png');
    background-image: url("../../assets/images/cases/bg-cases.png"), linear-gradient(to top, $cinza-dark-cyber-tivit 50%, white 50%); /* W3C */
    height: 560px;
  }
  .fundo2{
    background-image: url('../../assets/images/cases/bg-cases.png');
    background-image: url("../../assets/images/cases/bg-cases.png"), linear-gradient(to top, $cinza-dark-cyber-tivit 50%, white 50%); /* W3C */
    height: 560px;
  }
  .fundo3{
    background-image: url('../../assets/images/cases/bg-cases.png');
    background-image: url("../../assets/images/cases/bg-cases.png"), linear-gradient(to top, $cinza-dark-cyber-tivit 50%, white 50%); /* W3C */
    height: 560px;
  }

  .navigation{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;

    bottom: 36px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 110px;
    a{
      color: white;
    }
    .carousel-indicators{
      top: 25px;
      margin: 0;
      button{
        height: 1px;
        margin-left: 0;
        margin-right: 0;
      }
    }
    .counter{
      margin-left: 27px;
      margin-right: 27px;
      z-index: 1;
      .numactive{
        color: white;
        font-weight: 700;
      }
      .numseparation, .numtotal{
        color: white;
        font-weight: 300;
      }
      .numseparation{
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }

}

// Cases Recentes
.cases-recentes{
  background: $cinza-dark-cyber-tivit;
  padding-top: 60px;
  margin-top: -1px;

  .title{
    h2{
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      letter-spacing: 0.03em;
    }
  }

  .img{
    margin: 40px auto 0 auto;
    width: 284px;
  }

  .detalhes{
    margin: 20px auto 0 auto;
    width: 284px;
    a{
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: white;
      text-decoration: none;
      letter-spacing: 0.02em;
      border-radius: 50px;
      border: solid 1px white;
      text-transform: uppercase;
      padding: 4px 10px;
      &:first-child{
        margin-right: 5px;
      }
    }
    span{
      color: white;
      font-size: 12px;
      line-height: 18.25px;
      margin-left: 10px;
    }
  }

  .content{
    width: 284px;
    margin: 12px auto 0 auto;
    h3{
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;
      margin: 0;
      color: $vermelho-tivit;
      text-transform: uppercase;
    }
  }

  .autor-time{
    margin: 10px auto 0 auto;
    width: 284px;
    p{
      color: white;
      font-size: 12px;
      line-height: 18.25px;
      font-weight: 400;
      margin: 0;
    }
  }

  .acessar{
    margin: 10px auto 100px auto;
    width: 284px;
    a{
      font-size: 14px;
      line-height: 21.29px;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
    }
    img{
      margin-left: 5px;
    }
  }

  .slider-cases{
    .carousel-indicators{
      bottom: 50px!important;
      button{
        text-indent: 0;
        height: 0;
        width: 10px;
        color: white;
        padding: 0 5px;
        background-color: transparent;
        &::after{
          content: '/';
          opacity: 0.5;
          padding: 0 5px;
        }
        &:last-child{
          &::after{
            content: '';
          }
        }
      }
    }
  }
}

.home-pessoas-e-carreiras.inovar{
  #triangle-down{
    border-left: 48.84px solid transparent;
    border-right: 48.84px solid transparent;
    border-top: 40px solid $cinza-dark-cyber-tivit;
  }
}


@media(min-width: 760px){

  .cases-hero{
    background: url('../../assets/images/cases/banner.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    .cases-hero-title{
      h1, h2{
        text-align: center;
        color: white;
      }
      h1{
        margin-top: 243px;
      }
    }
  }
  
  .cases-depoimentos{
    .img{
      margin-top: 0;
    }
    .depoimento{
      p{
        width: 1092px;
        max-width: 100%;
        font-size: 38px;
        line-height: 48px;
        font-weight: 700;
      }
    }
  }

  .a-tivit-cases.cases{
    height: 580px;
    .autor-time {
      width: 480.36px;
      p{
        margin: 30px 28px 0 0;
      }
    }
    .tag{
      width: 480.36px;
      margin: 23px auto 35px auto;
      a{
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        border: 1px solid #fff;
        border-radius: 50px;
        padding: 4px 10px;
        &:hover{
          background: #fff;
          color: $vermelho-tivit;
          border: 1px solid $vermelho-tivit;
        }
      }
      :first-child{
        margin-right: 5px;
      }
    }
    .content{
      width: 480.36px;
      h2{
        max-width: 340px;
      }
    }
    .acessar{
      width: 480.36px;
      a{
        color: $vermelho-tivit;
        border: none;
        width: 101px;
        padding-left: 0;
        margin-left: 0;
        &:hover{
          color: $vermelho-tivit;
          background: none;
        }
      }
    }
    .detalhes{
      width: 480.36px;
      margin-top: 160px;
    }
    .navigation{
      right: 40px;
      left: unset;
      bottom: 50px;
    }
    .fundo1{
      background-image: url('../../assets/images/cases/bg-cases-desktop.png');
      background-image: url("../../assets/images/cases/bg-cases-desktop.png"), linear-gradient(to top, $cinza-dark-cyber-tivit 50%, white 50%); /* W3C */
      height: 560px;
    }
    .fundo2{
      background-image: url('../../assets/images/cases/bg-cases-desktop2.png');
      background-image: url("../../assets/images/cases/bg-cases-desktop2.png"), linear-gradient(to top, $cinza-dark-cyber-tivit 50%, white 50%); /* W3C */
      height: 560px;
    }
    .fundo3{
      background-image: url('../../assets/images/cases/bg-cases-desktop3.png');
      background-image: url("../../assets/images/cases/bg-cases-desktop3.png"), linear-gradient(to top, $cinza-dark-cyber-tivit 50%, white 50%); /* W3C */
      height: 560px;
    }
  }

  .cases-recentes{
    padding-bottom: 100px;

    .acessar{
      width: 100%;
      margin: 20px auto 10px auto;

    }

    .img{
      img{
          width: 371px;
      }
      width: 100%;
    }

    .content{
      width: 371px;
      margin-left: 0;
      max-width: 100%;
      h3{
        color: white;
        &:hover{
          color: $vermelho-tivit;
        }
      }
    }

    .autor-time{
      width: 100%;
      display: inline-flex;
      margin-top: 15px;
      p{
        &:first-child{
          margin-right: 38px;
        }
      }
    }

    .detalhes{
      width: 100%;
    }

    .assuntos{
      width: 100%;
      h4{
        font-size: 12px;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
      }
      a{
        font-size: 12px;
        border: 1px solid white;
        border-radius: 50px;
        padding: 0 13px;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-weight: 400;
        margin-right: 7px;
        &:hover{
            background-color: red;
            border: 1px solid red;
        }
      }
      .active{
        background-color: red;
        border: 1px solid red;
      }
    }

    .col-5{
      display: flex;
      justify-content: center;
    }

    .filtros{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 34px;
      .select{
        margin-right: 50px;
        select{
          width: 270px;
          font-weight: bold;
          color: white;
          text-transform: uppercase;
          border: none;
          border-bottom: 1px solid white;
          background: transparent;
          option{
            color: black;
          }
        }
      }
    }
  }
}