// Banner
.inovacao-hero{
    height: 580px;
    background: url('../../assets/images/inovacao/banner-mobile.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .inovacao-hero-title{
        margin: 0 auto;
        h1{
            margin-top: 162px;
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
    }
    .inovacao-hero-content{
    h2{
        font-size: 34px;
        line-height: 34px;
        text-align: center;
        font-weight: 400;
        width: 320px;
        margin: 198px auto 0 auto;
    }
    }
    .botao{
      margin-bottom: 30px;
      a{
        background: transparent;
        color: $vermelho-tivit;
        border: solid 1px $vermelho-tivit;        
      }
    }
    .arrow{
    margin-top: 0;
    }
}

.inovacao-intro{
  position: relative;
  margin-top: 121px;
  margin-bottom: 121px;
  p{
    font-size: 36px;
    line-height: 42px;
    color: #262626;
    font-weight: 500;
    text-align: center;
    max-width: 520px;
    margin: 0 auto;
    span{
      font-weight: 600;
      color: $vermelho-tivit;
    }
  }
}

#ventures{
  background: #F4F6F7;
  padding-top: 128px;
  padding-bottom: 128px;
  h2{
    color: $cinza-dark-cyber-tivit;
    font-weight: 600;
    font-size: 36px;
  }
  p{
    color: $cinza-dark-cyber-tivit;
    font-weight: lighter;
    font-size: 18px;
    max-width: 860px;
  }
}

@media(min-width: 760px){

    .inovacao-hero{
      background: url('../../assets/images/inovacao/banner.png') no-repeat center center;
      background-size: cover;
      height: 100vh;
      .inovacao-hero-title{
        h1, h2{
          text-align: center;
          color: white;
        }
        h1{
          margin-top: 243px;
        }
      }
    }

}