// Banner
.unfolding-hero{
    height: 580px;
    background: url('../../assets/images/desdobramentos/bannermobile.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .unfolding-hero-title{
        margin: 0 auto;
        h1{
            margin-top: 162px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            @media (max-width: 767px){
              margin-top: 200px;
            }
        }
        h2{
          font-weight: 500 !important; 
        }
    }
    .unfolding-hero-content{
      @media (max-width: 767px){
        z-index: 100;
      }
    h2{
        font-size: 34px;
        line-height: 34px;
        text-align: center;
        font-weight: 400;
        width: 320px;
        margin: 198px auto 0 auto;
        @media (max-width: 767px){
          color: white;
          font-size: 28px;
          font-weight: lighter;
          text-align: center;
          margin: 5px auto 0 auto;
        }
    }
    p{
        font-size: 16px;
        color: white;
        line-height: 1.3;
        text-align: center;
        margin-top: 10px;
        max-width: 100%;
    }
    }
    .botao{
      margin-bottom: 30px;
      a{
        background: transparent;
        color: $vermelho-tivit;
        border: solid 1px $vermelho-tivit;        
      }
    }
    .arrow{
    margin-top: 0;
    }
    .zindex{
      z-index: 100;
    }
    .mask{
      max-width: 90%;
      @media (max-width: 768px){
        max-width: 100%;
      }
      mix-blend-mode: multiply;
    }
    .maskDiv{
      img{
          top: 10%;
          left: 0;
          width: 100%;
          mix-blend-mode: multiply;
      }
  }
}

.introTitle{
    padding: 100px 0 0 0;
}

.dark-bg{
    background: #3a3a3a;
    #intro-unfolding{
        margin-top: -70px;
        padding: 220px 0 130px 0;
        @media(max-width: 1024px){
            margin-top: -100px;
            padding: 100px 0 60px 0; 
        }
        .text{
            h2{
                font-size: 36px;
                color: white;
                font-weight: 500;
                line-height: 1.3;
                text-align: center;
                max-width: 700px;
                @media(max-width: 1024px){
                    font-size: 28px;
                }
            }
        }
    }
}


#middleContent.unfolding{
    background: #3a3a3a;
    @media(max-width: 1024px){
        padding: 20px 0 0px 0;
    }
    .title{
        color: white;
        margin-bottom: 25px;
    }
    h2{
        color: $vermelho-tivit;
    }
    .row{
        .bigNumbersTitle{
            .subtitle{
                color: white;
            }
        }
    }
}

#cases-unfolding{
    .a-tivit-cases{
        background: linear-gradient(to top, #F5F6F7 50%, #3a3a3a 50%);
    }
    .a-tivit-cases.cases.labs{
        margin-top: 0;
    }
    .custom-bg{
        background: #3a3a3a;
        padding-bottom: 45px;
        padding-top: 140px;
        @media(max-width: 1024px){
            padding-top: 70px;
        }
        .titleCarousel{
            h2{
                color: white;
                font-weight: 600;
                margin-bottom: 0;
            }
        }
    }
}


.bgWhite.unfolding{
    padding: 70px 0 50px 0;
}

.diferenciais{
    padding: 170px 0px 0px 0;
    @media(max-width: 1024px){
        padding: 110px 10px 0px 10px;
    }
    .intro{
        .titleDif{
            font-size: 36px;
            color: $cinza-dark-cyber-tivit;
            font-weight: 600;
            line-height: 1.1;
            text-transform: uppercase;
            margin-bottom: 30px;
            max-width: 250px;
            @media(max-width: 1024px){
                font-size: 28px;
                max-width: 100%;
            }
        }
        .subtitle{
            font-size: 18px;
            color: black;
            font-weight: lighter;
            line-height: 1.3;
        }
        div{
            @media(max-width: 1024px){
                margin-bottom: 50px;
            }
            margin-top: 30px;
            a{
            color: $vermelho-tivit;
            text-decoration: unset;
            text-transform: uppercase;
            
            &:after{
                content: url('../../assets/images/esg/arrow-red-content.svg');
                margin-left: 5px;
                margin-top: 1px;
                transition: all .2s linear;
                }
            }
        }
    }
    .content{
        div{
            margin-bottom: 45px;
            @media(max-width: 1024px){
                margin-bottom: 40px;
            }
            h2{
                text-transform: uppercase;
                color: $vermelho-tivit;
                font-size: 24px;
                font-weight: 600;
                line-height: 1.1;
            }
            p{
                color: black;
                font-size: 16px;
                line-height: 1.3;
            }
        }
    }
}

#contatoUnfolding{
    background: #F5F6F7;
    padding: 100px 0 75px 0;
    .cta{
        h2{
            color: $vermelho-tivit;
            font-size: 28px;
            font-weight: 400;
            line-height: 1.3;
            max-width: 300px;
        }
        strong{
            color: $vermelho-tivit;
            font-weight: 600;;
        }
    }
    .form .tdx-form .wpcf7-form-control.has-spinner.wpcf7-submit{
        background: $vermelho-tivit !important;
        padding: 5px 52px;
        @media(max-width: 1024px){
            padding: 15px 52px;
        }
    }
    .grupo-5{
        margin-top: 35px;
    }
    .form{
        input{
            margin-top: 50px;
        }
        .tdx-form{
            @media(max-width: 1024px){
                margin: 0px auto 0 auto;
            }
        }
    }
}

@media(min-width: 1024px){
    //banner desktop
        .unfolding-hero{
          height: 580px;
          background: url('../../assets/images/desdobramentos/bannerdesktop.png') no-repeat center center;
          background-size: cover;
          height: 580px;
          .unfolding-hero-title{
            margin: 0 auto;
            h1{
                margin-top: 200px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
            }
            h2{
              font-weight: 500 !important; 
              color: white;
              text-align: center;
            }
            p{
                font-size: 18px;
                color: white;
                line-height: 1.3;
                text-align: center;
                margin-top: 15px;
                max-width: 554px;
            }
        }
        .arrow{
        margin-top: 0;
        }
        .mask{
            max-width: 1235px;
            top: 0;
        }
      }
    }