// Header
.a-tivit-cases.cases.conteudos {
  background: url('../../assets/images/conteudos/banner.png') no-repeat center center;
  margin-top: 0;
  background-size: cover;

  .content {
    h2 {
      font-size: 28px;
      line-height: 32px;
      font-weight: 600;
      width: 298px;
    }
  }

  .detalhes {
    margin-top: 200px;
  }

  .carousel-inner {
    height: 580px;
  }

  .tag {
    margin-top: 19px;
  }

  .acessar {
    a {
      margin-top: 26px;
      color: $vermelho-tivit;
      font-weight: bold;
      display: flex;
      align-items: center;

      img {
        height: 16px;
      }
    }
  }

  .navigation {
    right: unset;
    left: 47px;
    bottom: 50px;
  }

}

.cases-recentes.conteudos {
  padding: 60px 0 0 0;
  background: white;

  .filtros {
    .select {
      select {
        color: $cinza-cyber-tivit;
        border-bottom: 1px solid $cinza-cyber-tivit;
      }
    }
  }

  .autor-time {
    p {
      color: $cinza-dark-cyber-tivit;
    }
  }

  .content {
    h3 {
      color: $cinza-dark-cyber-tivit;
    }
  }

  .detalhes {
    a {
      color: $cinza-dark-cyber-tivit;
      border: solid 1px $cinza-dark-cyber-tivit;
    }
  }

  .acessar {
    margin: 10px auto 50px auto;

    &:hover {
      a {
        color: $vermelho-tivit;
      }
    }
  }

  .slider-cases {
    .carousel-indicators {
      bottom: 0 !important;

      .active {
        color: $vermelho-tivit;
      }

      button {
        color: $cinza-dark-cyber-tivit;
      }
    }
  }
}


// Desktop
@media (min-width: 992px) {

  .a-tivit-cases.cases.conteudos {
    #hero {
      max-width: unset;
    }

    background: url('../../assets/images/conteudos/banner-desktop.png') no-repeat center center;
    background-size: cover;

    .content {
      margin: 13px 0 0 0;

      h2 {
        font-size: 36px;
        line-height: 40px;
        font-weight: 600;
        width: unset;
        max-width: unset;
      }
    }

    .tag {
      margin: 30px 0 0 0;
    }

    .acessar {
      margin: 16px 0 0 0;

      a {
        font-size: 16px;
        font-weight: bold;
        padding: 0;

        img {
          display: block !important;
        }
      }
    }

    .navigation {
      left: unset;
    }

    .detalhes {
      margin: 150px 0 0 0;
    }
  }

  .cases-recentes.conteudos {
    .assuntos {
      h4, a {
        color: $cinza-dark-cyber-tivit;
      }

      a {
        border: 1px solid $cinza-dark-cyber-tivit;
      }

      a.active, a:hover {
        color: white
      }
    }
  }

}


.ac_bloco_conteudo.active {
  opacity: 1;
  transition: all 0.5s ease-out;
}

.ac_bloco_conteudo {
  position: relative;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  // opacity: 0;
  transition: all 0.35s ease-in;

  &.ac_bloco_conteudo_escuro {
    background-color: #262626;
  }

  @media(max-width: 760px) {
    opacity: 1;
  }

  .transitionContent {
    background: url('../../assets/images/home/trans3flp2.svg') no-repeat bottom center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.7s ease-out;
    z-index: 4999;
    top: 0;
  }

  .transitionContent.active {
    opacity: 1;
    height: 0%;
    transition: all 0.45s ease-in;
  }

  #triangle-down {
    position: absolute;
    top: 0;
  }

  .pd {
    padding-bottom: 140px;
    padding-top: 140px;

    @media(max-width: 760px) {
      padding-bottom: 40px;
      padding-top: 80px;
    }

    .title {
      .titleText {
        font-size: 28px;
        line-height: 24px;
        font-weight: 600;
        color: #262626 !important;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 75px;

        @media(max-width: 760px) {
          margin-bottom: 40px;
        }
      }
    }
  }

  &.ac_bloco_conteudo_escuro {
    .pd {
      .title {
        .titleText {
          color: white !important;
        }
      }
    }
  }

  .cardContent {
    cursor: pointer;

    &:hover {
      h3 {
        color: #F20024;
        transition: all 0.2s linear;
      }

      .acessar a {
        color: $vermelho-tivit;

        &:after {
          margin-left: 20px;
          transition: all 0.2s linear;
        }
      }
    }
  }

  .img {
    max-width: 100%;
    width: 100%;
    height: 250px;
    max-height: 100%;
    margin: 40px auto 0 auto;
    cursor: pointer;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-body {
  padding-top: 0;
  padding-bottom: 0;
}

.content {
  width: 100%;
  margin: 12px auto 0 auto;
}

h3 {
  color: #262626;
}

.ac_bloco_conteudo_escuro {
  h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
    color: #262626;
    text-transform: uppercase;
  }
  p {
    color: #262626;
    font-size: 12px;
  }
}



.ac_bloco_conteudo_escuro {
  p {
    color: white;
  }
}

.autor-time {
  display: inline-flex;
  justify-content: space-between;
  margin: 20px 0;

  p {
    font-size: 12px;
    line-height: 18.25px;
    font-weight: 400;
    margin: 0;
    color: #262626 !important;
  }

  a:first-child {
    margin-right: 5px;
  }

  a {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    letter-spacing: 0.02em;
    border-radius: 50px;
    border: solid 1px white;
    text-transform: uppercase;
    padding: 4px 10px;
  }
}

.detalhes {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    color: #262626;
    font-size: 12px;
    line-height: 18.25px;
  }
}

.ac_bloco_conteudo_escuro {
  .detalhes {
    margin: 0 auto 21px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;

    span {
      color: #262626 !important;
      font-size: 12px;
      line-height: 18.25px;
    }
  }

  .acessar {
    font-size: 14px;
    line-height: 21.29px;
    text-transform: uppercase;
    display: flex;
    text-decoration: unset !important;

    a.cta-conteudo {
      text-decoration: unset !important;
      transition: all 0.3s linear;
      display: flex;
      align-items: center;
      color: white;

      &:hover {
        color: $vermelho-tivit;
        transition: all 0.3s linear;
      }

      img {
        margin-left: 5px;
        transition: all 0.2s linear;
      }

      &:after {
        content: "";
        background: url(../images/home/icons/arrow-right-red.svg);
        margin-left: 10px;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-flex;
        align-items: center;
        align-content: center;
      }
    }

    &.ac_bloco_conteudo_escuro {
      a {
        color: white;

        &:hover {
          color: #F20024;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .assuntos {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;

    h4 {
      color: $cinza-dark-cyber-tivit;
    }

    a {
      border: 1px solid $cinza-dark-cyber-tivit;
      font-size: 12px;
      border-radius: 50px;
      padding: 0 13px;
      text-decoration: none;
      color: $cinza-dark-cyber-tivit;
      text-transform: uppercase;
      font-weight: 400;
      margin-right: 7px;
    }

    a.active,
    a:hover {
      color: white;
      background-color: red;
    }

    .card-footer {
      padding: 0 var(--bs-card-spacer-x);
    }

    .acessar {
      font-size: 14px;
      line-height: 21.29px;
      text-transform: uppercase;
      display: flex;
      text-decoration: unset !important;
      margin: 10px auto 50px auto;
      // padding: 0 var(--bs-card-spacer-x);

      // a {
      text-decoration: unset !important;
      transition: 0.2s all;
      display: flex;
      align-items: center;
      color: $vermelho-tivit;
      font-size: 14px;
      line-height: 21.29px;
      text-transform: uppercase;
      text-decoration: none;
      display: flex;
      align-items: center;


      &:hover {
        color: $vermelho-tivit;
        transition: all 0.3s linear;
      }


      img {
        margin-left: 5px;
        transition: all 0.2s linear;
      }

      &:after {
        content: "";
        background: url(../images/home/icons/arrow-right-red.svg);
        margin-left: 10px;
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-flex;
        align-items: center;
        align-content: center;
      }

      // }
    }

    &.ac_bloco_conteudo_escuro {
      a {
        color: white;
      }
    }

    .vejamais {
      text-align: center;

      .btn {
        border: 1px solid #262626;
        border-radius: 38px;
      }

      .btn:hover {
        border: 1px solid #F20024;
        background-color: #F20024;
        color: #fff;
      }
    }

    @media (min-width: 992px) {
      .assuntos {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;

        h4 {
          color: $cinza-dark-cyber-tivit;
          font-size: 12px;
          font-weight: bold;
          text-transform: uppercase;
        }

        a {
          border: 1px solid $cinza-dark-cyber-tivit;
          font-size: 12px;
          border-radius: 50px;
          padding: 0 13px;
          text-decoration: none;
          color: $cinza-dark-cyber-tivit;
          text-transform: uppercase;
          font-weight: 400;
          margin-right: 7px;
        }

        a.active,
        a:hover {
          color: white;
          background-color: red;
          border-color: red;
        }
      }
    }
  }
}

.cta-card-geral {
  &:after {
    content: "";
    background: unset !important;
    margin-left: unset !important;
    width: unset !important;
    height: unset !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    display: inline-flex;
    align-items: center;
    align-content: center;
  }
}

