// Header
.a-tivit-cases.cases.conteudos{
    background: url('../../assets/images/conteudos/banner.png') no-repeat center center;
    margin-top: 0;
    background-size: cover;
    .carousel-inner{
        height: 580px;
    }
}