.banner-cases-item .case-item-background {
  height: 530px; }

.banner-cases-item .case-item-content h2 {
  padding-top: 219px;
  font-size: 12px;
  line-height: 18.25px;
  font-weight: bold;
  color: white;
  text-transform: uppercase; }

.banner-cases-item .case-item-content h1 {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  max-width: 298px; }

.banner-cases-item .case-item-logos {
  margin-top: 65px; }
  .banner-cases-item .case-item-logos .row {
    align-items: center; }
    .banner-cases-item .case-item-logos .row .col-4 {
      border-right: solid 1px white; }
    .banner-cases-item .case-item-logos .row .col-7 {
      text-align: center; }

@media (min-width: 991px) {
  .banner-cases-item .case-item-background {
    height: 520px; } }
