@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&family=Viga&display=swap");
body.page-template-conteudos .detalhes > span, body.page-template-conteudos p {
  color: black;
  margin-left: 0;
}

html, body, * {
  font-family: "Titillium Web", sans-serif;
  background-color: transparent;
}
html a, body a, * a {
  text-decoration: none;
}
html p, body p, * p {
  max-width: 100%;
  margin: 0;
}
html img, body img, * img {
  max-width: 100%;
}
@media (max-width: 768px) {
  html .hide-mobile, body .hide-mobile, * .hide-mobile {
    display: none !important;
  }
}
@media (min-width: 769px) {
  html .hide-desktop, body .hide-desktop, * .hide-desktop {
    display: none !important;
  }
}
html h1, body h1, * h1 {
  font-size: 60px;
  line-height: 91.26px;
}
html h2, body h2, * h2 {
  font-size: 48px;
  line-height: 54px;
  z-index: 2;
}
@media screen and (max-width: 991px) {
  html h2, body h2, * h2 {
    font-size: 36px;
    line-height: 36px;
  }
}
html h3, body h3, * h3 {
  font-size: 36px;
  line-height: 40px;
}
html h4, body h4, * h4 {
  font-size: 28px;
  line-height: 34px;
}
html h5, body h5, * h5 {
  font-size: 24px;
  line-height: 30px;
}
html h6, body h6, * h6 {
  font-size: 20px;
  line-height: 30.42px;
}
html .button, body .button, * .button {
  font-size: 20px;
  font-weight: 700;
  line-height: 30.42px;
}
html .button2, body .button2, * .button2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 27.38px;
}
html .button3, body .button3, * .button3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24.34px;
  letter-spacing: 3%;
}
html .lead, body .lead, * .lead {
  font-size: 14px;
  font-weight: 400;
  line-height: 27.38px;
}
html a, body a, * a {
  font-size: 16px;
  line-height: 24.34px;
  font-weight: 700;
  color: #F20024;
}
html a:hover, body a:hover, * a:hover {
  color: #262626;
}
html .nota-rodape, body .nota-rodape, * .nota-rodape {
  font-size: 12px;
  font-weight: 400;
  line-height: 18.25px;
}
html .notificacoes, body .notificacoes, * .notificacoes {
  font-size: 10px;
  font-weight: 700;
  line-height: 15.21px;
}
html .paragrafo, body .paragrafo, * .paragrafo {
  font-size: 20px;
  line-height: 30.42px;
  font-weight: 400;
}
html .paragrafo2, body .paragrafo2, * .paragrafo2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
html .paragrafo3, body .paragrafo3, * .paragrafo3 {
  font-size: 16px;
  line-height: 24.34px;
  font-weight: 400;
}
html .paragrafo4, body .paragrafo4, * .paragrafo4 {
  font-size: 14px;
  line-height: 21.29px;
  font-weight: 700;
}
html .paragrafo5, body .paragrafo5, * .paragrafo5 {
  font-size: 12px;
  line-height: 18.25px;
  font-weight: 400;
}
html .paragrafo6, body .paragrafo6, * .paragrafo6 {
  font-size: 10px;
  line-height: 15.21px;
  font-weight: 400;
}

/**
 * Header Global
 **/
.frontpage {
  z-index: 9030 !important;
}

@media (max-width: 991px) {
  .header {
    background: #990017;
    max-width: 100%;
    margin: 0 auto;
  }
  .header .navbar {
    padding: 0;
    align-items: start;
  }
  .header .navbar .navbar-toggler {
    color: rgb(255, 255, 255);
    border-color: rgba(0, 0, 0, 0);
  }
  .header .navbar .navbar-toggler-icon {
    background-image: url("../../assets/icons/nav/hamburguer-white.svg");
  }
  .header .navbar .container {
    display: block;
  }
  .header .navbar .navbar-nav {
    padding-top: 30px;
  }
  .header .header-logo {
    background-color: #990017;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
  .header .header-logo .navbar-brand {
    margin: 0;
    padding: 0;
  }
  .header .search, .header .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #990017;
  }
  .header .menu-item {
    margin: 8px 0 8px 0;
  }
  .header .menu-item a {
    display: flex;
    justify-content: center;
  }
  .header .menu-item a:after {
    margin-top: 10px;
    filter: invert(100%) sepia(70%) saturate(289%) hue-rotate(156deg) brightness(110%) contrast(105%);
  }
  .header .menu-item span {
    font-size: 28px;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
  }
  .header .menu-item.active a span {
    font-weight: 600;
  }
  .header .dropdown-menu {
    background-color: transparent;
    border: unset;
  }
  .header .dropdown-menu .menu-item span {
    font-size: 20px;
    font-weight: 600;
  }
  .header .dropdown-menu .menu-item span:after {
    content: url("../../assets/images/expandmenu.svg");
    margin-left: 9px;
    width: auto;
    transition: all 0.2s linear;
    margin-bottom: 1px;
    position: absolute;
  }
  .header .dropdown-item {
    text-align: center;
  }
  .header .dropdown-toggle {
    transition: 0.3s all;
  }
  .header .dropdown-toggle.show span {
    font-weight: 600;
    transition: 0.3s all;
  }
  .header .solutions-service-mobile-open {
    display: block !important;
  }
  .header .solutions-service-mobile {
    background: #990017;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 5%;
    overflow-y: scroll;
  }
  .header .solutions-service-mobile .intro {
    margin-top: 30px;
  }
  .header .solutions-service-mobile .intro h3 {
    color: white;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }
  .header .solutions-service-mobile .intro h2 {
    color: white;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }
  .header .solutions-service-mobile .intro h2:before {
    content: url("../../assets/images/menumobilebefore.svg");
    left: 10%;
    bottom: 6%;
    width: auto;
    transition: all 0.2s linear;
    position: absolute;
  }
  .header .solutions-service-mobile .intro p {
    color: white;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    margin-top: 19px;
  }
  .header .solutions-service-mobile .intro a {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .header .solutions-service-mobile hr {
    color: #c3c3c3 !important;
    margin: 30px 0 30px;
  }
  .header .solutions-service-mobile .textMenu h2 {
    font-size: 14px;
    color: white;
    line-height: 0;
    font-weight: 600;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }
  .header .solutions-service-mobile .textMenu ul {
    padding: 0;
  }
  .header .solutions-service-mobile .textMenu ul li {
    list-style-type: none;
  }
  .header .solutions-service-mobile .textMenu ul li a {
    padding: 0 !important;
    justify-content: start !important;
  }
  .header .solutions-service-mobile .textMenu ul li a span {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.3;
    list-style-type: none;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  .header .solutions-service-mobile .textMenu ul li a span:after {
    content: url("../../assets/images/expandmenu.svg");
    margin-left: 9px;
    width: auto;
    transition: all 0.2s linear;
    margin-bottom: 1px;
    position: absolute;
  }
  .header .solutions-service-mobile .textMenu ul li a span:hover:after {
    margin-left: 19px;
    transition: all 0.2s linear;
  }
  .header .solutions-service-mobile .textMenu hr {
    color: #c3c3c3 !important;
    margin: 15px 0 30px !important;
  }
  .header .solutions-service-mobile .textMenu:last-child {
    padding-bottom: 100px;
  }
  .header .languages {
    padding: 35px 0 35px 0px;
  }
  .header .languages .title h2 {
    color: white;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }
  .header .solutions-service-mobile-cards {
    background: #990017;
    height: 100%;
    display: none;
    position: absolute;
    left: 0;
    top: 5%;
    overflow-y: scroll;
  }
  .header .solutions-service-mobile-cards .intro {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header .solutions-service-mobile-cards .intro h3 {
    color: white;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
  }
  .header .solutions-service-mobile-cards .intro h2 {
    color: white;
    font-size: 20px;
    line-height: 1.3;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }
  .header .solutions-service-mobile-cards .intro h2:before {
    content: url("../../assets/images/menumobilebefore.svg");
    left: 10%;
    bottom: 6%;
    width: auto;
    transition: all 0.2s linear;
    position: absolute;
  }
  .header .solutions-service-mobile-cards .intro p {
    color: white;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;
    margin-top: 19px;
  }
  .header .solutions-service-mobile-cards .intro a {
    color: white;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 45px 10px 45px;
    text-align: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  .header .solutions-service-mobile-cards .cardMenu {
    border: 1px solid RGBA(195, 195, 195, 0.28);
    padding: 30px;
    margin-bottom: 20px;
  }
  .header .solutions-service-mobile-cards .cardMenu h2 {
    font-size: 18px;
    line-height: 1.3;
    color: white;
    text-transform: uppercase;
    margin-bottom: 11px;
  }
  .header .solutions-service-mobile-cards .cardMenu h2:after {
    content: url("../../assets/images/expandmenu.svg");
    margin-left: 9px;
    width: auto;
    transition: all 0.2s linear;
    margin-bottom: 1px;
    position: absolute;
  }
  .header .solutions-service-mobile-cards .cardMenu p {
    font-size: 14px;
    color: white;
    line-height: 1.4;
    margin: 0;
  }
}
.nomove {
  overflow: hidden !important;
}

.rotate180:after {
  transform: rotateX(0deg) !important;
  transition: 0.3s all;
  bottom: 25px;
}

@media (min-width: 1024px) {
  .navbar-nav {
    align-items: center;
  }
  .header .header-menu ul li.active {
    border: 1px solid white;
    border-radius: 50px;
    padding: 0px 15px 0px 15px;
  }
  .header .header-menu ul li {
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 0px 15px 0px 15px;
    transition: all 0.15s linear;
    margin: 4px;
  }
  .header .header-menu ul li:hover {
    border-color: white;
    transition: all 0.2s linear;
  }
  .solution-menu-open {
    opacity: 1 !important;
    transition: 0.7s all;
    display: block !important;
  }
  .solution-menu {
    display: none;
    opacity: 0;
    padding-top: 30px;
    position: absolute;
    left: 0;
    right: 0;
    background: #990017;
    height: 100vh;
    transition: 0.8s all;
  }
  .solution-menu .nav-tabs {
    display: flex;
    justify-content: space-between;
    border-color: RGBA(195, 195, 195, 0.28);
  }
  .solution-menu .nav-tabs .nav-link.active {
    background-color: transparent;
    border-color: unset;
    border-bottom: 2px solid white;
    border-left: unset;
    border-right: unset;
    border-top: unset;
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
  }
  .solution-menu .nav-tabs .nav-link {
    color: white;
    font-weight: lighter;
    font-size: 18px;
    border: unset;
    text-transform: uppercase;
  }
  .solution-menu .nav-tabs .nav-link:hover, .solution-menu .nav-tabs .nav-link:focus, .solution-menu .nav-tabs .nav-link:focus-visible {
    color: #f6f6f6;
    border-bottom: 2px solid white;
    border-left: unset;
    border-right: unset;
    border-top: unset;
  }
  .solution-menu .textLeft {
    padding-right: 50px;
  }
  .solution-menu .textLeft h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    line-height: 1.3;
  }
  .solution-menu .textLeft strong {
    font-weight: 600;
    color: white;
  }
  .solution-menu .textLeft p {
    color: white;
    font-size: 16px;
    line-height: 1.4;
    margin: 18px 0 48px 0;
  }
  .solution-menu .textLeft a {
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 10px 35px 10px 35px;
    text-decoration: unset;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.3s all;
    cursor: pointer;
  }
  .solution-menu .textLeft a:hover {
    background: white;
    color: #990017;
    transition: 0.3s all;
  }
  .solution-menu .textMenu h2 {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 20px;
  }
  .solution-menu .textMenu h2:hover {
    color: white;
  }
  .solution-menu .textMenu ul {
    padding: 0;
  }
  .solution-menu .textMenu ul li {
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 18px;
    line-height: 1.3;
    list-style-type: none;
    padding-bottom: 15px;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  .solution-menu .textMenu ul li a {
    color: white;
    text-decoration: unset;
    font-weight: lighter;
    font-size: 18px;
    padding: 0;
  }
  .solution-menu .textMenu ul li a:after {
    content: url("../../assets/images/expandmenu.svg");
    margin-left: 9px;
    width: auto;
    transition: all 0.2s linear;
    margin-bottom: 1px;
    position: absolute;
  }
  .solution-menu .textMenu ul li a:hover:after {
    margin-left: 19px;
    transition: all 0.2s linear;
  }
  .solution-menu hr {
    color: #c3c3c3 !important;
    margin: 0 0 50px !important;
  }
  .solution-menu .textMenuCard {
    border: 1px solid RGBA(195, 195, 195, 0.28);
    padding: 25px;
    transition: all 0.3s;
  }
  .solution-menu .textMenuCard h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: white;
    height: 50px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    cursor: pointer;
  }
  .solution-menu .textMenuCard h2 a {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.3;
    color: white;
    text-decoration: unset;
    transition: all 0.2s linear;
  }
  .solution-menu .textMenuCard h2:after {
    content: url("../../assets/images/expandmenu.svg");
    margin-left: 10px;
    width: 16px;
    transition: all 0.2s linear;
    margin-bottom: 1px;
  }
  .solution-menu .textMenuCard:hover {
    background: white;
    border-color: white;
    transition: all 0.3s;
  }
  .solution-menu .textMenuCard:hover h2 {
    color: #990017;
    transition: all 0.2s linear;
  }
  .solution-menu .textMenuCard:hover h2:after {
    content: url("../../assets/images/expandmenured.svg");
    margin-left: 19px;
    width: 16px;
    transition: all 0.3s linear;
    margin-bottom: 1px;
  }
  .solution-menu .textMenuCard:hover a {
    color: #990017;
  }
  .solution-menu .textMenuCard:hover p {
    color: #990017;
  }
  .solution-menu p {
    font-size: 16px;
    font-weight: lighter;
    color: white;
    line-height: 1.4;
  }
  #solutions:after {
    content: url("../../assets/images/menusolutionsarrow.svg");
    transform: rotateX(180deg);
    margin-left: 4px;
    width: auto;
    margin-top: 3px;
    position: absolute;
    transition: 0.3s all;
  }
  #menu-header-menu {
    flex-wrap: wrap;
  }
  .header-people-and-careers p {
    font-weight: 500;
  }
  .header-people-and-careers p a {
    color: white;
    text-decoration: unset;
    font-weight: 500;
    font-size: 14px;
  }
  .language {
    display: flex;
  }
  .language a {
    color: white;
    text-decoration: unset;
  }
  .language a:hover {
    color: white;
  }
  .language a .en, .language a .es {
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 2px 7px 2px 7px;
    transition: all 0.15s linear;
    font-weight: 500;
  }
  .language a .en:hover, .language a .es:hover {
    border-color: white;
    transition: all 0.2s linear;
  }
  .language a .es {
    margin-left: 20px;
  }
  .language a .en {
    margin: 0 !important;
  }
  .navbar-expand-md {
    background: transparent;
    height: 70px;
    transition: all 0.2s;
  }
  .navbar-expand-md .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-expand-md-red {
    background: #990017;
    transition: all 0.2s;
  }
  .on-scroll-global {
    background: #990017;
    transition: all 0.7s;
  }
  .header {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .header hr {
    margin: 0 0 13px;
  }
  .header .navbar .container {
    display: block;
  }
  .header .navbar-expand-md .navbar-nav .nav-link {
    padding: 0;
  }
  .header .navbar-expand-md .navbar-nav .nav-link:hover {
    opacity: 0.8;
  }
  .header .header-menu,
.header .menu-header-menu-lateral {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .header .header-menu ul li,
.header .menu-header-menu-lateral ul li {
    margin-right: 0px;
  }
  .header .header-menu ul li a,
.header .menu-header-menu-lateral ul li a {
    font-size: 14px;
    line-height: 24.34px;
    font-weight: 500;
    color: white !important;
    text-transform: uppercase;
    text-decoration: none;
  }
  .header .header-menu ul li.btn-contact,
.header .menu-header-menu-lateral ul li.btn-contact {
    font-size: 14px;
    line-height: 24.34px;
    font-weight: 600;
    color: #F20024;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    background: white;
    box-sizing: border-box;
    border-radius: 50px;
  }
  .header .header-menu ul li.btn-contact a,
.header .menu-header-menu-lateral ul li.btn-contact a {
    color: #F20024 !important;
  }
  .header .header-menu ul li.btn-contact a:hover,
.header .menu-header-menu-lateral ul li.btn-contact a:hover {
    color: white !important;
  }
  .header .header-menu ul li.btn-contact:hover,
.header .menu-header-menu-lateral ul li.btn-contact:hover {
    background-color: transparent;
    color: white;
    border: 1px solid #F20024;
    background: #F20024;
  }
  .header .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header .header-logo .navbar-brand {
    margin: 0;
    padding: 0;
  }
  .header .header-options {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
    line-height: 24.34px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
  }
  .header .header-options p {
    margin: 0 20px 0 0;
  }
  .header .header-options .btn.btn-contact {
    font-size: 14px;
    line-height: 24.34px;
    font-weight: 600;
    color: #F20024;
    background: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 50px;
    padding: 0.08rem 0.75rem !important;
    transition: all 0.2s linear;
  }
  .header .header-options .btn.btn-contact:hover {
    background-color: transparent;
    color: white;
    transition: all 0.2s linear;
  }
  .header .nav {
    margin-bottom: 0px;
  }
  .on-scroll-tbanks {
    background: white;
  }
  .on-scroll-tbanks .header-menu ul li a {
    color: #454D54 !important;
  }
  .on-scroll-tbanks .header-options p {
    color: #454D54 !important;
  }
  .on-scroll-tbanks .header-options p a {
    border: 1px solid #951B81 !important;
    color: #951B81 !important;
  }
  .on-scroll-tdx {
    background: #990017;
  }
  .on-scroll-tdx .header-menu ul li a {
    color: white !important;
  }
  .on-scroll-tdx .header-options p {
    color: white !important;
  }
  .on-scroll-tdx .header-options p a {
    border: 1px solid #FE4817 !important;
    color: #FE4817 !important;
  }
}
.tagContent {
  top: 0;
  left: 0;
  font-size: 12px;
  font-weight: 600;
  background: #F20024;
  color: white;
  text-transform: uppercase;
  padding: 5px 23px 5px 23px;
}

/*
 * Footer
 **/
.footer {
  padding: 30px 0 0 0;
  color: #92A2AE;
  font-size: 12px;
  line-height: 18.25px;
  font-weight: 400;
}
.footer .footer-phone {
  margin: 30px 0 8px;
}
.footer .footer-phone a {
  font-size: 16px;
  line-height: 24.34px;
  font-weight: 400;
  text-decoration: none;
}
.footer .footer-phone a:hover {
  color: #F20024;
  opacity: 0.8;
}
.footer .footer-phone a span {
  font-size: 14px;
  line-height: 21.29px;
  font-weight: 400;
}
.footer .footer-people-and-careers p {
  font-weight: 600;
}
.footer .footer-people-and-careers p a {
  color: #262626 !important;
  text-decoration: unset;
  font-weight: 600;
  font-size: 14px;
}
.footer .footer-address p {
  font-size: 14px;
  line-height: 21.29px;
  font-weight: 400;
  color: #454D54;
}
.footer .footer-menu-copyright ul li a {
  font-size: 12px;
  line-height: 18.25px;
  font-weight: 700;
  color: #92A2AE;
  text-align: center;
  margin-right: 20px;
}
.footer .hr hr {
  margin: 4px 0 10px 0;
}
.footer .nav {
  justify-content: center;
  margin-bottom: 10px;
}
.footer .bg-red {
  background-color: #990017;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.25px;
  padding: 16px 0;
}
.footer .bg-red span {
  font-weight: 600;
}
.footer .bg-red p {
  color: white;
  margin: 0;
}

@media (min-width: 768px) {
  .footer hr {
    margin: 0 0 13px;
  }
  .footer .footer-menu {
    display: flex;
    align-items: center;
    padding-left: 0;
  }
  .footer .footer-menu ul li {
    margin-right: 0px;
    border: 1px solid transparent;
    border-radius: 50px;
    padding: 0px 15px 0px 15px;
    margin: 4px;
    transition: all 0.15s linear;
  }
  .footer .footer-menu ul li:hover {
    border-color: #454D54;
    transition: all 0.2s linear;
  }
  .footer .footer-menu ul li a {
    font-size: 14px;
    line-height: 24.34px;
    font-weight: 600;
    color: #454D54;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.15s linear;
  }
  .footer .footer-menu ul li a:hover {
    opacity: 0.8;
    transition: all 0.15s linear;
  }
  .footer .footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer .footer-logo img {
    width: 184.17px;
    height: 26px;
  }
  .footer .footer-options {
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
    line-height: 24.34px;
    font-weight: 600;
    color: #454D54;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0;
  }
  .footer .footer-options p {
    margin: 0 20px 0 0;
  }
  .footer .footer-options .btn.btn-contact {
    font-size: 14px;
    line-height: 24.34px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #F20024;
    background: #F20024;
    padding: 0.08rem 0.75rem !important;
    box-sizing: border-box;
    border-radius: 50px;
  }
  .footer .footer-options .btn.btn-contact:hover {
    background-color: transparent;
    color: #454D54;
  }
  .footer .footer-address, .footer .footer-phone, .footer .footer-socials {
    margin: 38px 0 28px;
  }
  .footer .footer-address p, .footer .footer-phone p, .footer .footer-socials p {
    margin: 0;
  }
  .footer .footer-phone {
    padding-left: 0;
  }
  .footer .footer-phone p {
    text-align: left;
  }
  .footer .footer-socials {
    padding-right: 0;
  }
  .footer .footer-socials p {
    text-align: right;
  }
  .footer .footer-socials p a {
    margin-left: 12px;
    text-decoration: none;
  }
  .footer .footer-socials p a:hover {
    opacity: 0.6;
  }
  .footer .footer-socials p a img {
    height: 18px;
  }
  .footer .footer-partners {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .hr {
    padding: 0;
  }
  .footer .footer-copyright {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0;
  }
  .footer .footer-menu-copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
  }
  .footer .footer-menu-copyright ul li {
    margin-right: 20px;
  }
  .footer .footer-menu-copyright ul li a {
    color: white;
    font-size: 12px;
    font-weight: 700;
    line-height: 18.25px;
    padding: 16px 0;
    text-decoration: none;
  }
  .footer .nav {
    margin-bottom: 0px;
    justify-content: flex-start !important;
  }
  .footer .footer-ac {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0;
  }
}
.fade-in-left {
  -webkit-animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-in-bottom {
  -webkit-animation: fade-in-bottom 1s linear both;
  animation: fade-in-bottom 1s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-12-2 15:37:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(350px);
    transform: translateY(350px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
.inicial {
  display: flex;
  justify-content: start;
  width: 33%;
}

.central {
  display: flex;
  justify-content: center;
  width: 33%;
}

.final {
  display: flex;
  justify-content: flex-end;
  width: 33%;
}

.numbers {
  animation: counter 5s infinite alternate ease-in-out;
  counter-reset: num var(--num);
}

.numbers::before {
  content: counter(num);
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 78;
  }
}
.box-carousel {
  position: relative;
}
.box-carousel .container-fluid {
  position: relative;
}
.box-carousel .container-fluid .row .col-6 .alinhamento-box {
  width: 467px;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 760px) {
  .box-carousel .container-fluid .row .col-6 .alinhamento-box {
    width: 335px;
  }
}

.carousel-control-prev, .carousel-control-next {
  width: auto !important;
  opacity: 1 !important;
}
@media (max-width: 759px) {
  .carousel-control-prev, .carousel-control-next {
    padding: 10px !important;
  }
}

@media (max-width: 759px) {
  .carousel-indicators {
    bottom: 0 !important;
  }
}

.arrow {
  margin-top: 90px;
}
.arrow .bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

a,
a:active,
a:hover,
input,
div {
  outline: 0;
}

.cta__geral {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  height: 50px;
  padding: 14px 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #F20024;
  border: none;
  border-radius: 40px;
  transition: all 0.5s;
}
.cta__geral:hover {
  color: white;
  background: #990017;
}

/*# sourceMappingURL=global.css.map */
