// Banner
.a-tivit-hero{
    height: 580px;
    background: url('../../assets/images/a-tivit/banner.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .zindex{
        z-index: 50;
        position: relative;
    }
    .a-tivit-hero-title{
        margin: 0 auto;
        h1{
            margin-top: 200px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
        }
        h2{
          font-weight: 500 !important; 
          color: white;
          text-align: center;
          @media (max-width: 768px){
              font-size: 28px;
              line-height: 1.4;
              position: relative;
              max-width: 315px;
          }
          strong{
              font-weight: 600;
          }
        }
    }
    .buttoncta{
      text-align: center;
      margin-top: 27px;
      a{
        color: white !important; 
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: all .2s linear;
        position: relative;
        &:hover{
          &:after{
            margin-left: 18px;
          }
        }
        &:after{
          content: url('../../assets/images/esg/arrow-white-right.svg');
          margin-left: 9px;
          width: 16px;
          transition: all .2s linear;
          position: absolute;
        }
      }
    }
    .arrow{
    margin-top: 0;
    }
    .customMargin{
      margin-top: -50px;
    }
    .mask{
        max-width: 90%;
        @media (max-width: 768px){
            max-width: 100%;
        }
        mix-blend-mode: multiply;
    }
    .maskDiv{
      img{
          top: 15%;
          left: 0;
          width: 100%;
          mix-blend-mode: multiply;
      }
    }
    .customNumbers{
      position: absolute;
      color: white;
      bottom: 0;
      font-size: 12px;
      font-weight: 500;
      text-align: center;
      margin-bottom: -30px;
    }

    @media(max-width: 760px){
        .botaoReels{
            // position: absolute;
            // left: 0;
            // right: 0;
            position: relative;
            bottom: -6%;
            text-align: center;
            p{
                margin-bottom: 5px;
            }
            a{
                color: white;
                font-weight: lighter;
                font-size: 14px;
                text-decoration: unset;
            }
        }
    }
  }

// Sobre
.a-tivit-sobre{
    margin: 40px 0 40px 0;
    @media(max-width: 760px){
        margin: 32px 0 40px 0;
    }
    p{
        font-size: 26px;
        line-height: 34px;
        text-align: center;
        font-weight: 400;
        @media(max-width: 760px){
            font-size: 28px;
        }
    }
}

// Carousel 
.a-tivit-carousel{
    .arrow-slider{
        position: absolute;
        z-index: -1;
    }
    .mask-slider{
        position: absolute;
        z-index: 1;
        width: 600px;
        bottom: 172px;
    }
    .carousel-indicators{
        background: black;
        bottom: unset!important;
        margin: 0;
        height: 73px;
    }
    .carousel-indicators .active{
        font-weight: bold!important;
    }
    .carousel-indicators [data-bs-target]{
        margin: auto 3px;
        height: 50px;
        width: 50px;
        text-indent: 0!important;
        color: white;
        background: transparent;
        padding: 0 18px;
        font-size: 24px;
        font-weight: 400;
        opacity: 1;
    }
    .content{
        background: black;
        height: 172px;
        display: flex;
        p{
            margin-top: 43px;
            font-size: 16px;
            line-height: 27px;
            color: white;
            text-align: center;
        }
    }
}

// Cases
.a-tivit-cases.ctivit{
    background: linear-gradient(to top, rgba($color: $cinza-light-tivit, $alpha: 0.2) 50%, white 50%)!important;
    height: 100%!important;
    .title{
        h2{
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 38px;
            color: $cinza-dark-cyber-tivit;
            text-transform: uppercase;
        }
    }
}
.a-tivit-cases{   
    height: 580px;
    margin-top: 50px;
    .detalhes{
        width: 284px;
        margin: 250px auto 0 auto;
        a{
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            border: 1px solid #fff;
            border-radius: 50px;
            padding: 4px 10px;
            &:hover{
                background: #fff;
                color: $vermelho-tivit;
                border: 1px solid $vermelho-tivit;
            }
        }
        :first-child{
            margin-right: 5px;
        }
        span{
            font-size: 12px;
            line-height: 14px;
            color: #fff;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }
    .content{
        width: 284px;
        margin: 12px auto 13px auto;
        h2{
            font-size: 20px;
            line-height: 28px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
    }
    .autor-time{
        width: 284px;
        margin: 12px auto 0 auto;
        p{
            font-size: 12px;
            line-height: auto;
            color: #fff;
            margin-bottom: 5px;
        }
    }
    .acessar{
        width: 284px;
        margin: 10px auto 0 auto;
        a{
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            display: flex;
            &:hover{
                background: $vermelho-tivit;
                color: white;
                border: 1px solid $vermelho-tivit;
            }
            img{
                margin-left: 10px;
            }
        }
    }
}

// Inovação
.a-tivit-inovacao{
    padding-top: 45px;
    background-color: rgba($color: $cinza-light-tivit, $alpha: 0.2);
    .content{
        width: 320px;
        margin: 0 auto;
        h2{
            font-size: 24px;
            line-height: 30px;
            font-weight: bold;
            color: $cinza-dark-cyber-tivit;
            text-transform: uppercase;
        }
        P{
            margin-bottom: 30px;
        }
    }
    
    .card{
        margin-top: 20px;
        background: #fff;
        height: 160px;
        justify-content: center;
        // box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        .card-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: 1.2s;
            p, img{
                transition: 1.2s;
            }
            a{
                font-size: 14px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                margin-top: 10px;
                transition: 1.2s;
                &:hover{
                    color: $vermelho-tivit;
                }
            }
        }
    }

    .botao{
        margin-top: 40px;
        a{
            color: #fff;
            text-decoration: none;
            &:hover{
                color: $vermelho-tivit;
                background: transparent;
                border: $vermelho-tivit 1px solid;
            }
        }
    }

}

// Experts
.a-tivit-experts{
    padding-top: 60px;
    .a-tivit-experts-title{
        margin-bottom: 40px;
        @media(max-width: 760px){
            margin-bottom: 20px;
        }
        h2{
            font-size: 24px;
            line-height: 24px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    .col-6{
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    .a-tivit-experts-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 150px;

        h3{
            font-size: 20px;
            line-height: 28px;
            font-weight: 700;
            text-transform: uppercase;
            color: $vermelho-tivit;
            margin-bottom: 0;
        }
        p{
            margin-bottom: 0;
        }
    }
}

// Carousel
#esgTivit{
    margin-top: 50px;
    @media(max-width: 760px){
        height: 800px;
    }
    .columnReverseMobile{
        @media(max-width: 760px){
            flex-direction: column;
        }
    }

    .lp-tbanks-confira {

        .lp-tbanks-confira-content{
            padding: 30px;
        }
        .lp-tdx-confira-bg-right{
            background-color: $cinza-dark-tivit;
            h3{
                font-size: 30px;
                line-height: 40px;
            }
            h2{
                font-size: 24px;
                line-height: 28px;
            }
            p{
                font-size: 18px;
                line-height: 24px;
                width: 320px;
                margin: 0 auto;
            }
        }
        .col-md-6{
            justify-content: unset;
        }
        
    }
    .navigation{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
    
        bottom: 36px;
        right: 0;
        left: 0;
        margin: 0 auto;
        width: 110px;
        a{
          color: white;
        }
        .carousel-indicators{
          top: 25px;
          margin: 0;
          button{
            height: 1px;
            margin-left: 0;
            margin-right: 0;
          }
        }
        .counter2{
          margin-left: 27px;
          margin-right: 27px;
          z-index: 1;
          .numactive2{
            color: white;
            font-weight: 700;
          }
          .numseparation2, .numtotal2{
            color: white;
            font-weight: 300;
          }
          .numseparation2{
            margin-left: 5px;
            margin-right: 5px;
          }
        }
    }  
}

// Certificações
.a-tivit-certificacoes{
    padding-bottom: 120px;
    .title{
        margin-top: 53px;
        h2{
            font-size: 24px;
            line-height: 24px;
            color: $cinza-dark-cyber-tivit;
            text-transform: uppercase;
            @media(max-width: 760px){
                font-size: 24px;
            }
        }
    }
    .desc{
        margin: 20px auto 40px auto;
        max-width: 320px;   
    }
    .col-6{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// Inovar
.inovar{
    background: url('../../assets/images/a-tivit/inovar.svg') no-repeat center center;
    background-size: cover;
}



/**
  * Desktop  
  */


@media(min-width: 760px){
    // Hero
    .a-tivit-hero{
        background: url('../../assets/images/a-tivit/banner-desktop.png') no-repeat center center;
        background-size: cover;
        height: 580px;
        position: relative;

        .a-tivit-hero-title{
            margin-top: 200px;
            z-index: 100;
            .textBanner{
                position: relative;
                left: 0;
                right: 0;
            }
            h1{
               font-size: 14px;
               line-height: 21.29px;
               font-weight: 600; 
               text-align: center;
               margin: 0;
      
            }
            h2{
                font-size: 48px;
                line-height: 54px;
                color: white;
                font-weight: 400;
                text-align: center;
                max-width: 960px;
                margin: 0 auto;
            }
        }

        .botaoReels{
            position: absolute;
            right: 0;
            left: 0;
            bottom: -10%;
            z-index: 100;
            text-align: center;
            a{                
                text-decoration: none;
                border: none;
                padding: 0;
                color: white;
                background-color: transparent;
                p{
                    margin-top: 10px;
                }
                &:hover{
                    background: transparent;
                    border:none;
                }
            }
        }
        
    }
    // Sobre
    .a-tivit-sobre{
        margin: 184px 0 149px 0;
        p{
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            width: 749px;
            margin: 0 auto;
        }
    }
    // Carousel
    .a-tivit-carousel{
        display: none;
    }
    // Cases
    .a-tivit-cases{
        height: 700px;
        .confira{
            margin: 100px auto 13px auto;
            h2{
            font-size: 44px;
            line-height: 50px;
            color: white;
            
            }
        }
        .detalhes{
            margin-top: 77px;
        }
        .detalhes, .acessar, .confira{
            width: 429.36px;
        }
        .content{
            width: 429.36px;
            h2{
                font-size: 28px;
                line-height: 34px;
                font-weight: 600;
                letter-spacing: 0.03em;

            }
        }
        .autor-time{
            width: 429.36px;
            display: flex;
            p{
                margin: 30px 28px 40px 0;
            }
        }
        .acessar{
            a{ 
                border: solid 1px $vermelho-tivit;
                padding: 20px 10px;
                width: 160px;
                display: flex;
                justify-content: flex-start;
            }
        }
    }
    // Inovação
    .a-tivit-inovacao{
        padding: 100px 0 30px 0;
        .content{
            width: 818px;
            h2{
                margin-bottom: 20px;
            }
            p{
                margin-bottom: 50px;
            }
        }
        .card{
            width: 467px;
            height: 220px;
            background: unset;
            box-shadow: unset;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            a{
                margin-top: 0!important;
                opacity: 0;
            }
            &:hover{
                transition: 1.2s;
                .card-content.card1{
                    margin-top: -65px;

                    mix-blend-mode: unset;
                }
                .card-content.card2{
                    margin-top: -65px;
                    mix-blend-mode: unset;
                }
                a, p, .card-content.card1, .card-content.card2, .card{
                    transition: 1.2s;
                    opacity: 1;
                }
            }
            p{
                font-size: 16px;
                line-height: 24px;
                margin-top: 80px;
                text-align: center;
                opacity: 0;
            }
            .card-content.card1{
                background-image: url('../../assets/images/a-tivit/labs1.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 85px;
                mix-blend-mode: luminosity;
                opacity: 0.3;
                width: 413px;

            }
            .card-content.card2{
                background-image: url('../../assets/images/a-tivit/labs2.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 50px;
                mix-blend-mode: luminosity;
                opacity: 0.3;
            }
        }
        .botao{
            margin-top: 60px;
        }
    }
    // Experts
    .a-tivit-experts{
        margin-bottom: 100px;
        img{
            margin-top: 29px;
        }
        .a-tivit-experts-desc{
            text-align: center;
            max-width: 270px;
            margin: 0 auto;
            h3{
                margin-top: 30px;
            }
        }
    }
   
    .esg{
        background: linear-gradient(to top, rgba(202, 210, 216, 0.2) 50%, white 50%) !important;
        .row > *{
            padding-left: 0;
            padding-right: 0!important;
        }
        
        .lp-tbanks-confira.lp-tdx{
            background-color: $cinza-dark-tivit;

            .lp-tbanks-confira-content{
                h3{
                    font-size: 48px;
                    line-height: 54px;
                }
            }
         
            
            .lp-tbanks-confira-bg-right.lp-tdx-confira-bg-right{
                background-color: unset;
                padding: 50px 40px 50px 40px;
            }
            .col-12.col-md-6{
                display: unset;
                .lp-tbanks-confira-bg-left{
                    height: 599px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    text-align: right;
                    padding-right: 50px;
                    padding-bottom: 60px;
                    h2{
                        font-size: 36px;
                        line-height: 42px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    p{
                        width: 419px;
                        margin: 0 auto;
                        color: white;
                        max-width: 100%;
                    }
                }
                .slide1{
                    background: url('../../assets/images/a-tivit/slider-02.png') no-repeat;
                    background-size: cover;
                }
            }
        }

        .navigation{
            position: absolute;
            display: flex;
            flex-direction: row;
            justify-content: center;        
            bottom: 36px;
            left: 30px;
            right: unset;
            margin: 0 0 0 30px;
            width: 110px;
            a{
              color: white;
            }
            .carousel-indicators{
              top: 25px;
              margin: 0;
              button{
                height: 1px;
                margin-left: 0;
                margin-right: 0;
              }
            }
            .counter2{
              margin-left: 27px;
              margin-right: 27px;
              z-index: 1;
              .numactive2{
                color: white;
                font-weight: 700;
              }
              .numseparation2, .numtotal2{
                color: white;
                font-weight: 300;
              }
              .numseparation2{
                margin-left: 5px;
                margin-right: 5px;
              }
            }
        }        
    }

    // Certificações
    .a-tivit-certificacoes{
        background: rgba(202, 210, 216, 0.2);
        .desc{
            max-width: 828px;
        }
        .title{
            margin-top: 90px;
            h2{
                font-size: 28px;
                line-height: 44px;
                font-weight: bold;
                color: $cinza-dark-tivit;
                text-transform: uppercase;
            }
        }
    }
    
    // Inovar
    .home-pessoas-e-carreiras.inovar{
        background: url('../../assets/images/a-tivit/inovar-bg.png') no-repeat center center;
        height: 675px;
        background-size: cover;
        .home-pessoas-e-carreiras-title{
            margin-top: 217px;
        }
    }
}

//Clientes
#ativitClientes{
    /* medium and up screens */
     @media (min-width: 768px) {
         
         .carousel-inner .carousel-item-end.active,
         .carousel-inner .carousel-item-next {
         transform: translateX(25%);
         }
         
         .carousel-inner .carousel-item-start.active, 
         .carousel-inner .carousel-item-prev {
         transform: translateX(-25%);
         }

         .carousel-inner .carousel-item-end,
         .carousel-inner .carousel-item-start { 
         transform: translateX(0);
         }
     }
     
       #ativitCustomerCarousel{
         @media(max-width: 760px){
             .col-6{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                flex-direction: column;
             }
           }
           .counter3{
            margin-left: 15px;
            margin-right: 15px;
            justify-content: center;
            align-items: center;
            z-index: 2;
            .numactive3{
              color: $vermelho-tivit;
              font-weight: 700;
            }
            .numseparation3, .numtotal3{
              color: $vermelho-tivit;
              font-weight: 300;
            }
            .numseparation3{
              margin-left: 10px;
              margin-right: 10px;
            }
          }
       }
       
 }
