/**
  *  Hide desktop and mobile
  */

  @media(max-width: 760px){
    .hide-mobile{
      display: none;
    }
  }

  @media(min-width: 760px){
    .hide-desktop{
      display: none;
    }
  }

/**
 *  Mobile
 */

// Botão Vermelho
.botao{
  text-align: center;
  margin: 30px 0 60px 0;
  a{
    font-size: 14px;
    line-height: 21.29px;
    font-weight: 700;
    text-transform: uppercase;
    background: $vermelho-tivit;
    border: 0;
    border-radius: 50px;
    padding: 15px 40px;
  }
}

// Hero
.home-hero{
  // #hero{
  //   background-color: #990017;
  // }
  .content{
    @media(max-width:759px){
      background: url('../../assets/images/home/slider-1-mobile.png') no-repeat center center;
      background-size: cover;
    }
    background-size: cover;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title{
      max-width: 320px;
      margin: 0 auto;
      h1{
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin-top: 119px;
      }
    }
  }
}

//Efeito intro
.imgtransition.active{
  max-height: 0%;
  opacity: 1;
  // transition: max-height 0.25s ease-in;
  transition: all 0.55s ease-out;
}

.imgtransition{
  max-height: 1725px;
  width: 100vw;
  opacity: 1;
  // transition: max-height 0.25s ease-in;
  transition: all 0.6s ease-in;
  width: 100% !important;
  z-index: 5500;
  @media(max-width:759px){
    height: 500px !important;
    margin-top: -1px;
  }
}

// Intro
.home-intro.active{
  background: white;
  transition: all 0.6s ease-in;
}
.home-intro{
  position: relative;
  background: #990017;
  transition: all 0.3s ease-in;
  p{
    font-size: 38px;
    line-height: 38px;
    color: #262626;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    span{
      font-weight: bold;
      color: $vermelho-tivit;
    }
  }
  .arrow{
    margin-top: 30px;
  }
  .pcustom{
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .pcustom.active{
    opacity: 1;
    transition: all 1.05s ease-out;
  }
}

// Portifolio
.home-portifolio{
  height: 580px;
  margin-bottom: 140px;
  @media(max-width: 760px){
    display: 50px;
  }
  .home-portifolio-image{
    background: url('../../assets/images/home/portifolio-mobile.png') no-repeat center center;
  }
  .home-portifolio-content{
    margin-top: 150px;
    .hide-arrow{
      opacity: 0;
      @media(max-width: 760px){
        display: none;
      }
    }
    h3, p{
      color: white;
      text-transform: uppercase;
      text-align: center;
    }
    h3{
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      margin-bottom: 24px;
    }
    p{
      font-size: 26px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 15px;

    }
    .red{
      color: $vermelho-tivit;
      font-weight: 600;
    }
  }
}

//Home Content
.home-content.active{
  opacity: 1;
  transition: all 0.5s ease-out;
}

.home-content{
  position: relative;
  background-color: #262626;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.35s ease-in;
  .transitionContent{
    background: url('../../assets/images/home/trans3flp2.svg') no-repeat bottom center;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.7s ease-out;
    z-index: 4999;
    top: 0;
    }
  .transitionContent.active{
    opacity: 1;
    height: 0%;
    transition: all 0.45s ease-in;
  }
  #triangle-down{
    position: absolute;
    top: 0;
  }
  .pd{
    padding-bottom: 140px;
    padding-top: 140px;
    .title{
      .titleText{
        font-size: 28px;
        line-height: 24px;
        font-weight: 600;
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 75px;
      }
    }
  }
  .cardContent{
    cursor: pointer;
    &:hover{
      h3{
        color: #F20024;
        transition: all 0.2s linear;
      }
      .acessar a{
        &:after{
          margin-left: 20px;
          transition: all 0.2s linear;
        }
      }
    }
  }
  .img{
    img{
      width: 100%;
      cursor: pointer;
    }
  }
  .content{
    width: 371px;
    margin-top: 12px;
  }
  h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    color: white;
    text-transform: uppercase;
    transition: all 0.2s linear;
  }
  p{
    color: white;
  }
  .autor-time{
    display: inline-flex;
    justify-content: space-between;
    margin: 20px 0;
    p{
      color: white;
      font-size: 12px;
      line-height: 18.25px;
      font-weight: 400;
      margin: 0;
    }
    a:first-child{
      margin-right: 5px;
    }
    a{
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: white;
      text-decoration: none;
      letter-spacing: 0.02em;
      border-radius: 50px;
      border: solid 1px white;
      text-transform: uppercase;
      padding: 4px 10px;
    }
  }
  .detalhes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      color: white;
      font-size: 12px;
      line-height: 18.25px;
    }
  }
  .acessar{
    font-size: 14px;
    line-height: 21.29px;
    text-transform: uppercase;
    display: flex;
    text-decoration: unset !important;
    a{
      text-decoration: unset !important;
      transition: all 0.3s linear;
      &:hover{
        color: white;
        transition: all 0.3s linear;
      }
      img{
        margin-left: 5px;
        transition: all 0.2s linear;
      }
    }
  }
  div.btn{
    padding-top: 75px;
    .btncontent{
      background: transparent;
      border: 1px solid #F20024;
      padding: 20px 35px 20px 35px;
      border-radius: 50px;
      color: white;
      text-transform: uppercase;
      transition: all 0.4s linear;
      &:hover{
        background: #F20024;
        transition: all 0.4s linear;
      }
    }
  }
}

// Cases
.home-cases.active{
  background-color: black;
  transition: background-color 0.3s ease-ou;
}
.home-cases{
  .bgtriangulo{
    background: url('../../assets/images/home/triangulocinza.svg') no-repeat top center;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 0 !important;
    transition: all 0.5s linear;
  }
  .bgtriangulo.active{
    opacity: 1;
    transition: all 0.5s linear;
  }
  .transitionCases{
    background: url('../../assets/images/home/trans4flp2.svg') no-repeat bottom center;
    background-size: cover;
    opacity: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    z-index: 4998;
    transition: all 0.5s ease-in;
  }
  .transitionCases.active{
    opacity: 1;
    width: 100%;
    max-height: 100%;
    background-size: cover;
    transition: all 0.6s ease-out;
  }
  .transitionCases.deactive{
    opacity: 1;
    max-height: 0%;
    width: 100%;
    transition: all 0.4s linear;
  }
  background-color: white;
  transition: background-color 0.35s linear;
  height: 930px;
  .divOpacity{
    opacity: 0;
    transition: all 0.55s linear;
  }
  .divOpacity.active{
    opacity: 1;
    transition: all 0.55s linear;
  }
  .home-cases-title{
    h2{
      font-size: 36px;
      line-height: 24px;
      font-weight: 600;
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin-top: 30px;
    }
  }
  .carousel{
    margin-top: 336px;
    .home-cases-content{
      .home-cases-autor{
        h3{
          color: $vermelho-tivit;
          font-size: 24px;
          line-height: 28px;
          font-weight: bold;       
          text-transform: uppercase;   
        }
        p{
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: white;
        }
      }
      .botao{
        a{
          background: transparent;
          border: 1px solid $vermelho-tivit;
        }
      }
    }
  }
}

// Pessoas e Carreiras
.home-pessoas-e-carreiras{
  background: url('../../assets/images/home/carreiras-mobile.png') no-repeat center center;
  height: 381px;
  margin-bottom: 38px;
  background-size: cover;
  .home-pessoas-e-carreiras-title{
    margin-top: 152px;
    h2{
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      color: white;
      margin-bottom: 27px;
    }
  }
  .botao{
    margin-top: 37px;
    width: 100%;
    position: relative;
    a{
      color: white;
      background: transparent;
      text-decoration-line: unset !important;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 16px;
      transition: all .2s linear;
      padding: unset;
      img{
        margin-left: 10px;
        margin-bottom: 2px;
      }
      &:hover{
        color: #c4c4c4;
        transition: all .2s linear;
        &:after{
          margin-left: 20px;
          transition: all .2s linear;
        } 
      }
      &:after{
        content: url('../../assets/images/a-tivit/arrow.svg');
        margin-left: 10px;
        transition: all .2s linear;
        position: absolute;
        top: 3px;
      }   
    }
  }
}

.lr{
  left: 0;
  right: 0;
}

.customContainer{
  max-width: 1320px !important;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
}

.home-cases-content{
  .row{
    .btncontent{
      background: transparent;
      border: 1px solid #F20024;
      padding: 20px 35px 20px 35px;
      border-radius: 50px;
      color: white;
      text-transform: uppercase;
      transition: all 0.4s linear;
      &:hover{
        background: #F20024;
        transition: all 0.4s linear;
      }
    }
  }
}

/**
 *  Desktop
 */
@media(min-width: 760px){
  .home-hero{
    margin-bottom: 0px;
    .carousel-inner{
      height: 865px;
    }
    .mask{
      z-index: 200;
      position: absolute;
    }
    .maskImg{
      z-index: 100;
    }
    #hero{
      background-color: #990017;
    }
    .content{
      // background: url('../../assets/images/home/slider1mulher.png') no-repeat center center;
      // background-size: cover;
      height: 100%;
      .title{
        max-width: 900px;
        z-index: 300;
      }
    }

    .container{
      position: relative;
      .redes{
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: 90px;
        img{
          margin-bottom: 5px;
          &:hover{
            filter: invert(18%) sepia(8%) saturate(0%) hue-rotate(143deg) brightness(97%) contrast(89%);
          }
        }
      }
    }

    .container{
      position: relative;
      .navigation{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 0;
        bottom: 100px;
        a{
          color: white;
        }
        .carousel-indicators{
          top: 25px;
          margin: 0;
          button{
            height: 1px;
            margin-left: 0;
            margin-right: 0;
          }
        }
        .counter{
          margin-left: 27px;
          margin-right: 27px;
          z-index: 2;
          .numactive{
            color: white;
            font-weight: 700;
          }
          .numseparation, .numtotal{
            color: white;
            font-weight: 300;
          }
          .numseparation{
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }

  }
  .home-intro{
    .pcustom{
      padding: 140px 0 140px 0;
    }
    p{
      font-size: 48px;
      max-width: 766px;
      line-height: 54px;
      font-weight: lighter;
    }
    .arrow{
      margin-top: 0;
    }
    .botao{
      margin-bottom: 0;
      a{
        border: red solid 1px; 
        &:hover{
          background: white;
          color: $vermelho-tivit;
          border: red solid 1px;          
        }
      }
    }
  }

  //Effect on Portifolio
  .home-portifolio.active{
    opacity: 1;
    // max-height: 100%;
    // height: 700px;
    transition: all 0.7s linear;
  }

  section.port{
    height: 900px;
    position: relative;
    .bgport{
      background: url('../../assets/images/home/trans2flp.svg') no-repeat bottom center;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: all 0.4s linear 0.2s;
      z-index: 5000;
    }
    .bgport.active{
      opacity: 1;
      height: 0%;
      transition: all 0.4s linear 0.2s;
    }
  }
  
  .home-portifolio{
    // position: absolute;
    width: 100%;
    height: 700px;
    // bottom: 0;
    opacity: 0;
    transition: all 0.6s ease-in;
    @media(min-width: 760px){
      .customposition{
        position: absolute;
      }
    }
    .home-portifolio-image{
      background: url('../../assets/images/home/img_banner1.jpg') no-repeat center center;
      background-size: contain;
      transition: background .4s linear;
    }
    #triangle-down{
      border-left: 48.84px solid transparent !important;
      border-right: 48.84px solid transparent !important;
      border-top: 40px solid white !important;
      position: absolute;
    }
    .mascaraDobra3{
      left: 19%;
      // position: absolute;
      top: 0;
    }
    .home-portifolio-content{
      .txt{
        margin-top: 150px;
        margin-left: 150px;
        .active{
          .hide-arrow{
            opacity: 1;
          }
          color: $vermelho-tivit;
          transition: all 0.25s linear;
        }
        p.active:after{
          content: url('../../assets/images/home/icons/arrow-right-red.svg');
          margin-left: 15px;
        }
      }
      h3, p, a{
        text-align: left;
      }
      h3{
        font-size: 18px;
        line-height: 30px;
        font-weight: 600;
      }
      a{
        text-decoration: unset;
      }
      p{
        font-size: 36px;
        line-height: 56px;
        margin-bottom: 0;
        color: white;
        transition: all 0.25s linear;
        &:hover{
          // .hide-arrow{
          //   opacity: 1;
          // }
          color: $vermelho-tivit;
          transition: all 0.25s linear;
          &:after{
            content: url('../../assets/images/home/icons/arrow-right-red.svg');
            margin-left: 15px;
          }
        }
      }
      .botao{
        margin: 40px 0 0 0;
        text-align: left;
        transition: all 0.4s linear;
        &:hover{
          a{
            background: white;
            border-radius: 50px;
            color: $vermelho-tivit;
            transition: all 0.4s linear;
          }
        }
      }

    }
  }

  .home-cases.active{
    background-color: black;
    transition: background-color 0.35s linear;
  }
  .home-cases{  
    background-color: #262626;
    transition: background-color 0.35s linear;
    .divOpacity{
      opacity: 0;
      transition: all 0.55s linear;
    }
    .divOpacity.active{
      opacity: 1;
      transition: all 0.55s linear;
    }
    .home-cases-title{
      h2{
        margin-top: 100px;
      }
      p{
        text-align: center;
        color: white;
        margin-top: 25px;
      }
    }
    .home-cases-content{
      .bg1, .bg2, .bg3 {
        position: relative;
      }
      .overlay{
        // background: black;
        // opacity: 0.5;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), RGBA(0,0,0,0.1));
        position: absolute;
        height: 100%;
        width: 100%;
      }
      .cardCases{
        cursor: pointer;
        &:hover{
          h3{
            color: $vermelho-tivit;
            transition: all 0.2s linear;
          }
          a{
            &:after{
              margin-left: 20px;
              transition: all 0.2s linear;
            }
          }
        }
      }
      .textCase{
        position: absolute;
        top: 55%;
        margin: 20px;
        h3{
          color: white;
          font-weight: 600;
          text-align: left;
          font-size: 24px;
          transition: all 0.2s linear;
        }
        p{
          color: white;
          text-align: left;
          font-weight: lighter;
        }
        a{
          color: #F20024;
          text-transform: uppercase;
          text-align: left;
          transition: all .3s linear;
          cursor: pointer;
          &:hover{
            color: white;
            transition: all .3s linear;
          }
          img{
            margin-left: 5px;
            transition: all .2s linear;
          }
        }
      }
      .home-cases-autor{
        width: 450px;
        h3{
          color: $vermelho-tivit;
          font-size: 24px;
          line-height: 28px;
          font-weight: bold;       
          text-transform: uppercase;   
        }
        p{
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: white;
        }
      } 
      .botao{
        a{
          background: transparent;
          border: 1px solid $vermelho-tivit;
          border-radius: 50px;
          &:hover{            
            background: white;
            color: $vermelho-tivit;
            border: white solid 1px;
          }       
        } 
      }
    }
    .home-cases-content.left{
      margin-top: 50px;


      h3,p, .botao{
        text-align: left;
        
      }
    }
    .home-cases-content.right{
      margin-top: 205px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h3,p, .botao{
        text-align: right;
      }
    }
  }

  .home-pessoas-e-carreiras{
    background: url('../../assets/images/home/carreiras.png') no-repeat center center;
    height: 790px;
    background-size: cover;
    .home-pessoas-e-carreiras-title{
      margin-top: 370px;
      p{
        font-size: 24px;
        line-height: 1.3;
        font-weight: lighter;
        text-align: center;
        color: white;
      }
    }

  }

  .pessoasCarreiras.active{
    background: white;
    transition: all 0.7s ease-in;
  }
  .pessoasCarreiras{
    position: relative;
    background: black;
    transition: all 0.6s ease-out;
    #triangle-down{
      border-left: 72.84px solid transparent !important;
      border-right: 72.84px solid transparent !important;
      border-top: 55px solid black !important;
      position: absolute;
      opacity: 1;
      transition: all 0.4s linear 0.2s;
    }
    #triangle-down.active{
      opacity: 1;
      transition: all 0.4s linear 0.2s;
    }
    .transCarreiras.active{
      max-height: 100%;
      width: 100%;
      height: 100%;
      opacity: 1;
      transition: all 0.4s linear 0.2s;
    }
    .transCarreiras{
      background: url('../../assets/images/home/trans6flp.svg') no-repeat bottom center;
      background-size: cover;
      max-height: 0%;
      width: 100%;
      opacity: 0;
      transition: all 0.3s linear 0.2s;
      z-index: 4997;
    }
    .transCarreiras.deactive{
      height: 0%;
      max-height: 0%;
      width: 100%;
      opacity: 1;
      transition: all 0.4s linear 0.2s;
    }
    .home-pessoas-e-carreiras{
      opacity: 0;
      transition: all 0.3s linear 0.2s;
    }
    .home-pessoas-e-carreiras.active{
      opacity: 1;
      transition: all 0.3s linear 0.2s;
    }
  }

  .partners{
    padding-bottom: 140px;
    transition: all 0.4s linear 0.2s;
    opacity: 0;
    .title{
      margin-bottom: 35px;
      h2{
        color: #262626;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 600;
        @media(max-width: 760px){
          font-size: 24px;
        }
      }
    }
  }
  .partners.active{
    opacity: 1;
    transition: all 0.4s linear 0.2s;
  }
}