/**
  *  Hide desktop and mobile
  */

  @media(max-width: 760px){
    .hide-mobile{
      display: none;
    }
  }

  @media(min-width: 760px){
    .hide-desktop{
      display: none;
    }
  }

/**
 *  Mobile
 */

// Botão Vermelho
.botao{
  text-align: center;
  margin: 30px 0 60px 0;
  a{
    font-size: 14px;
    line-height: 21.29px;
    font-weight: 700;
    text-transform: uppercase;
    background: $vermelho-tivit;
    border: 0;
    border-radius: 0;
    padding: 15px 40px;
  }
}

// Hero
.home-hero{
  // #hero{
  //   background-color: #990017;
  // }
  .content{
    @media(max-width:759px){
      background: url('../../assets/images/home/slider-1-mobile.png') no-repeat center center;
    }
    background-size: cover;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    .title{
      max-width: 320px;
      margin: 0 auto;
      h1{
        font-size: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        font-weight: 400;
        margin-top: 119px;
      }
    }
  }
}

//Efeito intro
.imgtransition.active{
  max-height: 0%;
  opacity: 0;
  // transition: max-height 0.25s ease-in;
  transition: all 0.4s ease-out;
}

.imgtransition{
  max-height: 1725px;
  width: 100vw;
  opacity: 1;
  // transition: max-height 0.25s ease-in;
  transition: all 0.4s ease-out;
  width: 100% !important;
  z-index: 5500;
  @media(max-width:759px){
    height: 500px !important;
  }
}

// Intro
.home-intro{
  position: relative;
  p{
    font-size: 38px;
    line-height: 38px;
    color: #262626;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    span{
      font-weight: bold;
      color: $vermelho-tivit;
    }
  }
  .arrow{
    margin-top: 30px;
  }
  .pcustom{
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  .pcustom.active{
    opacity: 1;
    transition: all 1s ease-out;
  }
}

// Portifolio
.home-portifolio{
  background: url('../../assets/images/home/portifolio-mobile.png') no-repeat center center;
  height: 580px;
  margin-bottom: 140px;
  @media(max-width: 760px){
    display: 50px;
  }
  .home-portifolio-content{
    margin-top: 150px;
    .hide-arrow{
      opacity: 0;
      @media(max-width: 760px){
        display: none;
      }
    }
    h3, p{
      color: white;
      text-transform: uppercase;
      text-align: center;
    }
    h3{
      font-size: 14px;
      line-height: 22px;
      font-weight: bold;
      margin-bottom: 24px;
    }
    p{
      font-size: 26px;
      line-height: 30px;
      font-weight: 400;
      margin-bottom: 15px;

    }
    .red{
      color: $vermelho-tivit;
      font-weight: 600;
    }
  }
}

//Home Content
.home-content{
  background-color: #262626;
  padding-bottom: 140px;
  padding-top: 140px;
  .img{
    img{
      width: 100%;
    }
  }
  .content{
    width: 371px;
    margin-top: 12px;
  }
  h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    margin: 0;
    color: white;
    text-transform: uppercase;
    &:hover{
      color: #F20024;
    }
  }
  p{
    color: white;
  }
  .autor-time{
    display: inline-flex;
    justify-content: space-between;
    margin: 20px 0;
    p{
      color: white;
      font-size: 12px;
      line-height: 18.25px;
      font-weight: 400;
      margin: 0;
    }
    a{
      font-size: 12px;
      line-height: 14px;
      font-weight: 400;
      color: white;
      text-decoration: none;
      letter-spacing: 0.02em;
      border-radius: 50px;
      border: solid 1px white;
      text-transform: uppercase;
      padding: 4px 10px;
    }
  }
  .detalhes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
      color: white;
      font-size: 12px;
      line-height: 18.25px;
    }
  }
  .acessar{
    font-size: 14px;
    line-height: 21.29px;
    text-transform: uppercase;
    display: flex;
    text-decoration: unset !important;
    a{
      text-decoration: unset !important;
      &:hover{
        color: white;
      }
    }
  }
  div.btn{
    padding-top: 75px;
    .btncontent{
      background: transparent;
      border: 1px solid #F20024;
      padding: 15px 35px 15px 35px;
      color: white;
      text-transform: uppercase;
      transition: all 0.4s linear;
      &:hover{
        background: #F20024;
        transition: all 0.4s linear;
      }
    }
  }
}

// Cases
.home-cases{
  background: url('../../assets/images/home/cases-mobile.png') no-repeat center center;
  background-size: cover;
  height: 700px;
  .home-cases-title{
    h2{
      font-size: 24px;
      line-height: 24px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      text-align: center;
      margin-top: 30px;
    }
  }
  .carousel{
    margin-top: 336px;
    .home-cases-content{
      .home-cases-autor{
        h3{
          color: $vermelho-tivit;
          font-size: 24px;
          line-height: 28px;
          font-weight: bold;       
          text-transform: uppercase;   
        }
        p{
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: white;
        }
      }
      .botao{
        a{
          background: transparent;
          border: 1px solid $vermelho-tivit;
        }
      }
    }
  }
}

// Pessoas e Carreiras
.home-pessoas-e-carreiras{
  background: url('../../assets/images/home/carreiras-mobile.png') no-repeat center center;
  height: 350px;
  margin-bottom: 38px;
  background-size: cover;
  .home-pessoas-e-carreiras-title{
    margin-top: 187px;
    h2{
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      color: white;
    }
  }
  .botao{
    margin-top: 24px;
    a{
      background: white;
      color: $vermelho-tivit;
      border: solid 1px $vermelho-tivit;
      padding: 15px 11px;
      &:hover{
        background: $vermelho-tivit;
        color: white;
      }
    }
  }
}


/**
 *  Desktop
 */
@media(min-width: 760px){
  .home-hero{
    margin-bottom: 0px;
    #hero{
      background-color: #990017;
    }
    .content{
      // background: url('../../assets/images/home/slider1mulher.png') no-repeat center center;
      // background-size: cover;
      height: 100%;
      .title{
        max-width: 100%;
      }
    }

    .container{
      position: relative;
      .redes{
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 0;
        bottom: 40px;
        img{
          margin-bottom: 5px;
        }
      }
    }

    .container{
      position: relative;
      .navigation{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 0;
        bottom: 50px;
        a{
          color: white;
        }
        .carousel-indicators{
          top: 25px;
          margin: 0;
          button{
            height: 1px;
            margin-left: 0;
            margin-right: 0;
          }
        }
        .counter{
          margin-left: 27px;
          margin-right: 27px;
          z-index: 2;
          .numactive{
            color: white;
            font-weight: 700;
          }
          .numseparation, .numtotal{
            color: white;
            font-weight: 300;
          }
          .numseparation{
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }

  }

  .home-intro{
    .pcustom{
      padding: 140px 0 140px 0;
    }
    p{
      font-size: 48px;
      max-width: 766px;
      line-height: 54px;
      font-weight: lighter;
    }
    .arrow{
      margin-top: 0;
    }
    .botao{
      margin-bottom: 0;
      a{
        border: red solid 1px; 
        &:hover{
          background: white;
          color: $vermelho-tivit;
          border: red solid 1px;          
        }
      }
    }
  }

  //Effect on Portifolio
  .home-portifolio.active{
    opacity: 1;
    // max-height: 100%;
    // height: 700px;
    transition: all 0.9s linear;
  }

  section.port{
    height: 900px;
    position: relative;
    .bgport{
      background: url('../../assets/images/home/trans2flp.svg') no-repeat bottom center;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: all 0.3s linear 0.2s;
      z-index: 5000;
    }
    .bgport.active{
      opacity: 0;
      height: 0%;
      transition: all 0.3s linear 0.2s;
    }
  }
  
  .home-portifolio{
    background: url('../../assets/images/home/portfolio.png') no-repeat top center;
    // position: absolute;
    width: 100%;
    height: 700px;
    // bottom: 0;
    opacity: 0;
    transition: all 0.55s linear;
    .home-portifolio-content{
      .txt{
        margin-top: 150px;
        margin-left: 150px;
      }
      h3, p, a{
        text-align: left;
      }
      h3{
        font-size: 20px;
        line-height: 30px;
      }
      p{
        font-size: 36px;
        line-height: 56px;
        margin-bottom: 0;
        color: white;
        &:hover{
          .hide-arrow{
            opacity: 1;
          }
          color: $vermelho-tivit;
        }
      }
      .botao{
        margin: 40px 0 0 0;
        text-align: left;
        &:hover{
          a{
            background: white;
            color: $vermelho-tivit;
          }
        }
      }

    }
  }

  .home-cases{
    background: url('../../assets/images/home/cases.png') no-repeat center center;
    background-size: cover;
    .home-cases-title{
      h2{
        margin-top: 100px;
      }
      p{
        text-align: center;
        color: white;
        margin-top: 5px;
      }
    }
    .home-cases-content{
    
      .home-cases-autor{
        width: 450px;
        h3{
          color: $vermelho-tivit;
          font-size: 24px;
          line-height: 28px;
          font-weight: bold;       
          text-transform: uppercase;   
        }
        p{
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
          color: white;
        }
      } 
      .botao{
        a{
          background: transparent;
          border: 1px solid $vermelho-tivit;
          &:hover{            
            background: white;
            color: $vermelho-tivit;
            border: white solid 1px;
          }       
        } 
      }
    }
    .home-cases-content.left{
      margin-top: 205px;


      h3,p, .botao{
        text-align: left;
        
      }
    }
    .home-cases-content.right{
      margin-top: 205px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      h3,p, .botao{
        text-align: right;
      }
    }
  }

  .home-pessoas-e-carreiras{
    background: url('../../assets/images/home/carreiras.png') no-repeat center center;
    height: 760px;
    .home-pessoas-e-carreiras-title{
      margin-top: 317px;
      p{
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        text-align: center;
        color: white;
      }
    }

  }
}