// Banner
.contato-hero{
    height: 580px;
    background: url('../../assets/images/contato/banner-mobile.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .contato-hero-title{
        margin: 0 auto;
        h1{
            margin-top: 162px;
            font-size: 16px;
            line-height: 22px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
        }
    }
    .contato-hero-content{
        h2{
            font-size: 34px;
            line-height: 34px;
            text-align: center;
            font-weight: 400;
            width: 320px;
            margin: 198px auto 0 auto;
        }
    }
    .arrow{
    margin-top: 0;
    }
}


// Intro
.contato-intro{
    p{
        font-size: 26px;
        line-height: 34px;
        text-align: center;
        max-width: 320px;
        margin: 0 auto;
        span{
            color: $vermelho-tivit;
        }
    }
}

// Contato Formulário
.contato-formulario{
    padding: 50px 0;

    h2{
        font-size: 18px;
        line-height: 28px;
        font-weight: bold;
        color: $vermelho-tivit;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }

    input, select{
        width: 100%;
        border: none;
        border-bottom: 1px solid $cinza-light-tivit;
        padding: 0 0 5px 0;
        margin-bottom: 30px;
    }
    textarea{
        width: 100%;
    }

    .aceite{
        span{
            label{
                display: flex;
                input{
                    width: 15%;
                    margin-right: 10px;
                    border: 1px solid $vermelho-tivit;
                    border-radius: 0;
                }
            }
        }
    }

}



// Pessoas e Carreiras
.home-pessoas-e-carreiras{
    #triangle-down{
      border-left: 48.84px solid transparent;
      border-right: 48.84px solid transparent;
      border-top: 40px solid $cinza-dark-cyber-tivit;
    }
}