.banner-cases-item h3 {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fff;
  margin-top: 20px; }

.conteudo {
  padding: 70px 0; }
  .conteudo .autor {
    margin: 0 0 20px 0; }
    .conteudo .autor h3 {
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      margin-top: 20px; }
