/*
 * Páginas: TbankS & TDX
 **/

//  Hero
.lp-tbanks-hero{
    background-image: url('../images/landing/tbanks/hero.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .lp-banks-hero-content{
      h1{
        font-size: 48px;
        line-height: 54px;
        font-weight: 400;
        color: white;
        text-align: center;
        margin: 10px 0 0 0;
      }
    }
    .grafismos{
      top: 9%;
      right: 9%;
      width: 200px;
    }
  }
  
  .lp-tdx-hero{
    background-image: url('../images/landing/tdx/bannerherotdx.jpg');
  }
  
  // Conheça a TBankS 
  .lp-tbanks-conheca{
    padding: 127px 0 140px 0;
    @media(max-width: 768px){
      padding: 44px 0 34px 0;
    }
    .lp-tbanks-conheca-content{
      margin-bottom: 50px;
      b{
        font-weight: 600;
      }
      p{
        font-size: 36px;
        line-height: 50px;
        font-weight: 400;
        max-width: 820px;
        margin: 0 auto;
        text-align: center;
        color: $cinza-dark-cyber-tivit;
        span{
          color: #582689;
        }
      }
    }
    .lp-tdx-conheca-content{
      p{
        span{
          color: #FE4817;
        }
      }
    }  
    .lp-tbanks-services{
      margin-top: 100px;
      h2{
        color: #262626;
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
      }
      .sub{
        max-width: 1000px;
      }
      span.subtitle{
        color: #262626;
        font-size: 20px;
        font-weight: lighter;
      }
      h3{
        font-size: 22px;
        line-height: 33.46px;
      }
      p{
        font-size: 20px;
        line-height: 26px;
        color: $cinza-dark-tivit;
      }
      .col-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .bg-white{
        background-color: white;
        border-bottom: 1px solid #CAD2D8;
        border-right: 1px solid #CAD2D8;
        border-top: 1px solid #CAD2D8;
        border-left: 3px solid #582689;
        padding: 38px 21px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        @media(max-width: 768px){
          margin-bottom: 15px;
        }
        h3{
          max-width: 140px;
          font-size: 24px;
          text-transform: uppercase;
          color: #582689;
          text-align: left;
        }
        p{
          margin-top: 40px;
          text-align: left;
        }
      }
      // .bg-purple{
      //   background-color: #582689;
      //   border: 2px solid #582689;
      //   padding: 38px 21px;
      //   height: 216px;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   h3, p{
      //     color: white;
      //   }
      // }
      .img{
        margin-top: 50px;
        background: #F4F6F7;
        padding: 70px 90px;
        @media(max-width: 768px){
          padding: 10px 0;
          margin-bottom: 40px;
        }
      }
    }
    
    .lp-tbanks-credibilidade{
      margin-top: 64px;
      margin-bottom: 34px;
      color: $cinza-dark-cyber-tivit;
      p{
        span{
          font-size: 80px;
          line-height: 80px;
          font-weight: 700;
          color: #FE4817;
        }
        font-size: 18px;
        line-height: 24px;  
      }
    }
  }
  
  // Tbanks Benefícios
  .lp-tbanks-beneficios{
    .triangle{
      display: flex;
      margin: 110px 0 -162px 0;
      @media(max-width: 768px){
        display: none;
      } 
    }
    #triangle-down-1{
      border-top: 24px solid #FFD847;
      margin: 0 -57px 0 auto;
    }
    #triangle-down-2{
      border-top: 24px solid #FFD847;
      margin: 0 auto 0 0;
    }
    .lp-tbanks-beneficios-title{
      h2{
        text-transform: uppercase;
        font-size: 28px;
        line-height: 44px;
        letter-spacing: 3%;
        margin-bottom: 94.4px;
      }
    }
    .lp-tbanks-beneficios-content{
  
        .col-md-4, .col-12{
          padding: 65px 20px;
          border: 1px solid #582689;
          transition: 0.4s;
        }
  
        .col-md-4.hover:hover{
          background-color: #582689;
          .lp-tbanks-beneficios-content-box-title{
            p{
              color: #fff;
            }
          }
          .lp-tbanks-beneficios-content-box-content{
            p{
              color: #fff;
            }
          }
        }
      
        .lp-tbanks-beneficios-content-box-title{
          p{
            font-size: 100px;
            line-height: 80px;
            font-weight: 700;
            color: #582689;
          }
        }
  
        .lp-tbanks-beneficios-content-box-content{
          p{
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
            color: #181E1F;
            max-width: 330px;
            margin: 0 auto;
          }
        }
      
    }
  }
  
  // Tbanks Pix
  .lp-tbanks-pix{
    margin-top: 100px;
    height: 270px;
    background-color: #582689;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media(max-width: 768px){
      height: auto;
      padding: 50px 0;
      text-align: center;
      h3{
        margin-top: 40px;
  
      }
    }
    .ab1{
      position: absolute;
      margin: -75px 0 0 -60px;
    }
    .ab2{
      position: absolute;
      margin: -52px -60px 0 0;
    }
    
    h3{
      color: white;
      font-size: 28px;
      line-height: 34px;
      font-weight: 700;
    }
  
    p{
      color: white;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
    }
    .col-md-3, .col-md-6{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  
  // Tbanks Tecnologia
  .lp-tbanks-tecnologia-pagamentos{
    padding: 160px 0 0 0;
    text-align: center;
    h2{
      text-transform: uppercase;
      font-size: 28px;
      line-height: 44px;
      margin-bottom: 30px;
      text-align: center;
      @media(max-width: 768px){
        margin-bottom: 40px;
      }
    }
    img{
      max-width: 100%;
      margin-bottom: 25px;
    }
    p{
      font-size: 20px;
      line-height: 28px;
      font-weight: 600;
      max-width: auto;
      margin: 0 auto;
      color: #582689;
      text-transform: uppercase;
    }
    .col-12{
      margin-bottom: 30px;
      @media(max-width: 768px){
        margin-bottom: 40px;
      }
    }
    .border-tec{
      border: 1px solid #CAD2D8!important;
      padding: 60px;
      height: 300px;
    }
  }
  
  // TDX Conheça
  .lp-tdx-conheca{
    padding: 0px 0 150px 0;
    .col-12{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .lp-tdx-conheca-content{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h2{
          color: #FE4817;
        }
        .paragrafo2{
          max-width: 500px;
        }
        a.buttoncta{
          margin-top: 15px;
          background: #FE4817;
          padding: 15px 30px 15px 30px;
          border-radius: 50px;
          border: 1px solid #FE4817;
          transition: all .2s;
          color: white;
          text-decoration: unset;
          cursor: pointer;
          font-size: 14px;
          &:hover{
            background: white;
            color: $cinza-dark-cyber-tivit;
            transition: all .2s;
          }
        }
      }
    }
  
  }

  //TDX Parceiros
  .lp-tdx-parceiros{
    margin-top: 60px;
    margin-bottom: 160px;
    .lp-tdx-parceiros-content{
      h2{
        text-transform: uppercase;
        font-size: 28px;
        line-height: 44px;
        font-weight: 600;
      }
    }
  }
  
  // TBanks Confira
  #triangle-down, #triangle-down-1, #triangle-down-2{ 
    width: 0;
    height: 0;
    border-left: 32.84px solid transparent;
    border-right: 32.84px solid transparent;
    border-top: 28px solid white;
    margin: 0 auto -27px auto;
    z-index: 1000;
    position: relative;
  }
  
  .lp-tbanks-confira{
    height: 600px;
    background-color: white;
    h2{
      font-size: 48px;
      line-height: 50px;
      color: white;
      font-weight: 400;
    }
    @media(max-width: 768px){
      #triangle-down {
        border-left: 22.84px solid transparent;
        border-right: 22.84px solid transparent;
        border-top: 18px solid white;
        margin: 0 auto -18px auto;
      }
    }
    .col-md-6{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .lp-tbanks-confira-bg-left{
      background: url('../images/landing/tbanks/confira-tbanks.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 580px;
  
    }
  
    .bg-2{
      background: url('../images/landing/tbanks/confira2.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .bg-3{
      background: url('../images/landing/tbanks/confira3.jpg');
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    .lp-tbanks-confira-bg-right{
      background-color:#582689;
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      padding-bottom: 30px;
      .lp-tbanks-confira-content, .lp-tbanks-confira-carousel{
        width: 467px;
        max-width: 100%;
        .btn{
          font-size: 14px;
          line-height: 24.29px;
          font-weight: 700;
          color: white;
          text-transform: uppercase;
          border: white solid 1px;
          border-radius: 0;
          margin-top: 24px;
          &:hover{
            background-color: white;
            color: #582689;
          }
        }
        h3{
          font-size: 28px;
          line-height: 50px;
          font-weight: 400;
          color: white;
          margin-bottom: 87px;
          width: 500px;
          max-width: 100%;
          @media(max-width: 768px){
            margin-bottom: 40px;
          }
          span{
            font-weight: 700;
          }
        }
        h2{
          text-transform: uppercase;
          font-weight: 600;
          font-size: 44px;
          line-height: 50px;
          margin-bottom: 19px;
        }
        .paragrafo3{
          color: white;
        }
        strong{
          font-weight: 600;
        }
      }
    }
  }
  
  .lp-tbanks-confira .lp-tdx-confira-bg-right{
    background-color: #FE4817;
    @media(max-width: 760px){
      height: 440px;
    }
  }
  
  // Como fazemos
  .lp-tdx-como-fazemos{
    padding: 122px 0 130px 0;
    background: #F4F6F7;
  
    .lp-tdx-como-fazemos-content{
      width: 721px;
      max-width: 100%;
      margin: 0 auto;
    }
    h2{
      text-transform: uppercase;
      font-size: 28px;
      line-height: 44px;
    }
    img{
      margin-top: 80px;
      width: 100%;
    }
  }

  //TBANKS PIX
  #tbanks-pix{
    .tbanks-bg-pix{
      background: #582689;
      height: auto;
      padding: 50px;
    }
    .pix-text{
      h3, p{
        color: white;
      }
      h3{
        font-size: 28px;
      }
      p{
        font-size: 18px;
      }
      a{
        color: white;
        font-size: 14px;
        padding: 15px 40px 15px 40px;
        border: 1px solid white;
        text-transform: uppercase;
        cursor: pointer;
        transition: all .2s;
        &:hover{
          background: white;
          color: #582689;
          transition: all .2s;
        }
      }
    }
  } 
   
  // Metodologia TDX
  .lp-tdx-metodologia{
    padding: 123px 0 130px 0;
    .col-12.bl{
      padding: 30px;
      .card{
        border: 1px solid #E6E6E6;
        padding: 50px;
      }
    }
    h2{
      font-size: 28px;
      line-height: 44px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
    }
    p{
      margin-bottom: 30px;
    }
    img{
      max-width: 100%;
      height: 90px;
      margin-bottom: 20px;
    }
    h3{
      font-size: 20px;
      line-height: 28px;
      color: #FE4817;
      font-weight: 600;
      text-transform: uppercase;
      width: auto;
      margin: 0 auto;
    }
    .paragrafo3{
      max-width: auto;
      margin: 18px 0 0 0;
    }

    .paragrafo3.mx{
      max-width: 450px;
    }

    .paragrafo3.list{
      margin-top: 28px !important;
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
    }
  
    ul li{
      width: 290px;
      text-align: left;
    }
    
    .btn-conheca{
      background: #FE4817;
      color: white;
      border-radius: 0;
      text-transform: uppercase;
      padding: 15px 38px;
      border-radius: 50px;
      margin-top: 60px;
      transition: all .2s;
      &:hover{
        background-color: white;
        color: #FE4817;
        border: 1px solid #FE4817;
        transition: all .2s;
      }
    }
  
  
  }
  
  // Depoimentos
  .lp-tbanks-depoimentos{
    height: 100%;
    margin-top: 130px;
    margin-bottom: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
      border-radius: 50%;
    }
    h2{
      text-transform: uppercase;
      font-size: 28px;
      line-height: 44px;
      margin-bottom: 80px;
      text-align: center;
    }
    h3{
      font-size: 18px;
      line-height: 27.38px;
      font-weight: 600;
      color: #000000;
    }
    h4{
      font-size: 14px;
      line-height: 21.29px;
      font-weight: 400;
      color: #000000;
    }
    p{
      font-size: 28px;
      line-height: 1.2;
      font-weight: 400;
      max-width: 770px;
      margin: 0 auto;
    }
    .carousel-control-prev-icon{
      background-image: url('../../assets/images/landing/tbanks/arrow-gray-left.svg') !important;
      width: 13px;
    }
    .carousel-control-next-icon{
      background-image: url('../../assets/images/landing/tbanks/arrow-gray-right.svg') !important;
      width: 13px;
    }
    .carousel-control-prev{
      left: 20%;
      @media(max-width: 768px){
        left: 0;
      }
    }
    .carousel-control-next{
      right: 20%;
      @media(max-width: 768px){
        right: 0;
      }
    }
    .numseparation{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
  
  // Clientes Logos
  .lp-tbanks-logo-clientes{
    height: 100%;
    margin-bottom: 150px;
    @media(max-width: 768px){
      height: unset;
      padding: 70px 0 50px 0;
    }
    .container{
      max-width: 1420px !important;
    }
    h2{
      font-size: 24px;
      line-height: 30px;
      letter-spacing: 3%;
      font-weight: 600;
      margin-bottom: 40px;
      text-transform: uppercase;
    }
    .lp-tbanks-logo-clientes-content{
      .col-4{
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    @media (max-width: 767px) {
      .carousel-inner .carousel-item > div {
          display: none;
      }
      .carousel-inner .carousel-item > div:first-child {
          display: block;
      }
  }
  
    .carousel-inner .carousel-item.active,
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        display: flex;
    }
    
    /* medium and up screens */
    @media (min-width: 768px) {
        
        .carousel-inner .carousel-item-end.active,
        .carousel-inner .carousel-item-next {
          transform: translateX(16.6%);
        }
        
        .carousel-inner .carousel-item-start.active, 
        .carousel-inner .carousel-item-prev {
          transform: translateX(-16.6%);
        }
    }
    
    .carousel-inner .carousel-item-end,
    .carousel-inner .carousel-item-start { 
      transform: translateX(0);
    }
    .carousel-control-prev-icon{
      background-image: url('../../assets/icons/navegacao/arrow-left-red.svg') !important;
      width: 13px;
    }
    .carousel-control-next-icon{
      background-image: url('../../assets/icons/navegacao/arrow-right-red.svg') !important;
      width: 13px;
    }
    .carousel-control-prev{
      left: 45%;
      @media(max-width: 768px){
        left: 28%;
      }
    }
    .carousel-control-next{
      right: 45%;
      @media(max-width: 768px){
        right: 28%;
      }
    }
    .counter2{
      margin-left: 15px;
      margin-right: 15px;
      justify-content: center;
      align-items: center;
      z-index: 2;
      .numactive2{
        color: $vermelho-tivit;
        font-weight: 700;
      }
      .numseparation2, .numtotal2{
        color: $vermelho-tivit;
        font-weight: 300;
      }
      .numseparation2{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
    #customerCarousel{
      margin-top: 60px;
      .customers{
        img{
          filter: grayscale(1);
          transition: all .2s;
          &:hover{
            filter: grayscale(0);
            transition: all .2s;
          }
        }
      }
    }
  }
  
  // Form
  .lp-tbanks-form{
    background-color: #F4F6F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 0;
  
    @media(max-width: 760px){
      background-color: #F4F6F7;
    }
    .lp-tbanks-title{
      h2{
        font-size: 36px;
        line-height: 1.2;
        font-weight: 400;
        color: $cinza-dark-cyber-tivit;
        margin-bottom: 90px;
      }
      .paragrafo2{
        margin-top: 22px;
        margin-bottom: 61px;
      }
    }
  
    .form{
      width: 830px;
      max-width: 100%;
      margin: 0 auto;
      h3{
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 2%;
        font-weight: 700;
        color: #262626;
        text-transform: uppercase;
        margin: 50px 0 43px 0;
        @media(max-width: 760px){
          margin: 0;
        }
      }
      .mensagem{
        h3{
          margin-bottom: 10px;
        }
      }
      .nome-completo, .email, .empresa{
        margin-right: 30px;
        @media(max-width: 760px){
          margin-right: 0;
        }
      }
      .nome-completo, .email, .empresa, .cargo, .tel, .segmento, .mensagem{
        width: 100%;
      }
      .grupo-1, .grupo-2, .grupo-3, .grupo-4{
        display: flex;
        margin-top: 50px;
        @media(max-width: 760px){
          margin-top: 0;
          flex-direction: column;
          input, select{
            margin-top: 30px;
          }
        }
        input, select{
          border: 0;
          border-bottom: 1px solid $cinza-dark-cyber-tivit;
          background: none;
          padding: 0;
          width: 100%;
        }
        textarea{
          width: 100%;
          background: none;
          border: 1px solid $cinza-dark-cyber-tivit;
  
        }
        input::placeholder, select::placeholder, textarea::placeholder{
          color: $cinza-dark-cyber-tivit;
          font-size: 14px;
          line-height: 21.29px;
        }
        input:focus, select:focus, textarea:focus{
          outline: none;
        }
  
      }
      .grupo-4{
        margin: 10px 0 15px 0;
  
      }
      .grupo-5{
        display: flex;
        @media(max-width: 760px){
          flex-direction: column;
        }
        .wpcf7-list-item{
          margin: 0;
          label{
            margin-right: 3px;
          }
        }
        .wpcf7-form-control.has-spinner.wpcf7-submit{
          color: white;
          border: none;
          width: 100%;
          height: 100%;
          text-transform: uppercase;
          &:hover{
            opacity: 0.8;
          }
        }
        .tbanks-form{
          .wpcf7-form-control.has-spinner.wpcf7-submit{
            background: #582689;
            border-radius: 50px;
          }
        }
        .wpcf7-list-item-label{
          font-size: 12px;
          line-height: 18.25px;
        }
      }
      .tdx-form, .tbanks-form{
        display: flex;
        flex-direction: column;
        @media(max-width: 760px){
          margin: 45px auto 0 auto;
        }
    
        .wpcf7-form-control.has-spinner.wpcf7-submit{
          background: #FE4817;
          padding: 15px 52px;
          max-width: 152px;
          margin: 0 auto;
        }
      }
      .tdx-form{
        .wpcf7-form-control.has-spinner.wpcf7-submit{
          background: #FE4817;
          border-radius: 50px;
        }
        h3{
          color: #FE4817;
        }
      }
      .privacidade{
        margin-top: 57px;
        color: $cinza-dark-cyber-tivit;
        font-size: 10px;
        line-height: 15.21px;
        @media(max-width: 760px){
          margin-top: 30px;
        }
      }
  
    }
  
  }

  // Cases TDX
  #cases{
    .lp-tdx-confira-bg-right{
      background: #F14517;
    }
    .counter{
      margin-left: 15px;
      margin-right: 15px;
      justify-content: center;
      align-items: center;
      z-index: 2;
      .numactive{
        color: white;
        font-weight: 700;
      }
      .numseparation, .numtotal{
        color: white;
        font-weight: 300;
      }
      .numseparation{
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
  
  
  // Mobile
  
  @media(max-width: 768px){  
  
    // on scroll
    .on-scroll-mobile-tbanks{
      background-color: #582689!important;
    }
    .on-scroll-mobile-tdx{
      background-color: #FE4817!important;
    }
  
    .lp-tbanks-hero {
      background-image: url('../images/landing/tbanks/hero-mobile.png');
      align-items: flex-end;
      padding-bottom: 50px;
      .lp-banks-hero-content{
        h1{
          font-size: 24px;
          line-height: 32px;
        }
      }
    }
    .lp-tdx-hero {
      background-image: url('../images/landing/tdx/hero-mobile.png');
    }
  
    // Conheça
    .lp-tbanks-conheca{
      .col-12{
        padding-right: calc(var(--bs-gutter-x) * 0.7);
        padding-left: calc(var(--bs-gutter-x) * 0.7);
      }
      .lp-tbanks-conheca-content{
        p{
          font-size: 26px;
          line-height: 34px;
          @media(max-width: 760px){
            font-size: 22px;
            line-height: 28px;
          }
        }
      }
      .lp-tbanks-credibilidade{
        p{
          font-size: 18px;
          line-height: 24px;
          span{
            font-size: 80px;
            line-height: 80px;
          }
        }
      }
    }
  
    .lp-tdx-conheca{
      padding: 0 0 100px 0;
      img{
        width: 100%;
        margin-bottom: 23px;
      }
      .lp-tdx-conheca-content{
        h2{
          font-size: 24px;
          line-height: 44px;
          font-weight: 700;
          color: #FE4817;
        }
        .paragrafo2{
          margin-bottom: 32px;
        }
      }
    }
  
    // Confira
    .lp-tbanks-confira{
        
      .lp-tbanks-confira-bg-mobile{
        background: url('../images/home/lentes.png');
        height: 180px;
      }
      h2{
        font-size: 24px;
        line-height: 28px;
      }
    }
    .lp-tdx{
      .row{
        flex-direction: column-reverse;
  
      }
    }
    // Depoimentos
    .lp-tbanks-depoimentos{
      height: unset;
      .lp-tbanks-depoimentos-autor{
        h3{
          font-size: 18px;
          line-height: 27px;
          font-weight: 600;
          margin: 0;
        }
        h4{
          font-size: 14px;
          line-height: 21.29px;
        }
        p{
          font-size: 20px;
          line-height: 24px;
          font-weight: 400;
          padding: 0 20px;
        }
      }
    }
  
    .lp-tdx-metodologia{
      padding: 64px 0 30px 0;
      h2{
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 0px;
        text-transform: uppercase;
      }
      img{
        max-width: 100%;
        margin: 30px 0 10px 0;
      }
      h3{
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        text-transform: uppercase;
        color: #FE4817;
        max-width: 215px;
        margin: 0 auto 10px auto;
      }
      .paragrafo3{
        max-width: 290px;
        margin: 0 auto;
      }
      // divisor
      .divisor{
        width: 100%;
        height: 1px;
        background: #CAD2D8;
        margin: 30px 0 0 0;
      }
  
      .btn.btn-conheca{
        background: #FE4817;
        color: white;
        border-radius: 0;
        text-transform: uppercase;
        padding: 15px 38px;
        margin-top: 60px;
        border-radius: 50px;
      }
    }
  
    // Form
    .lp-tbanks-form{
      .lp-tbanks-title{
        h2{
          font-size: 22px;
          line-height: 28px ;
        }
      }
    }
  
  }