// Banner
.services-hero{
    height: 580px;
    background: url('../../assets/images/solucoes/bannerMobile.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .services-hero-title{
        margin: 0 auto;
        h1{
            margin-top: 162px;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            color: #fff;
            text-transform: uppercase;
            @media (max-width: 767px){
              margin-top: 200px;
            }
        }
        h2{
          font-weight: 500 !important; 
        }
    }
    .services-hero-content{
      @media (max-width: 767px){
        z-index: 100;
      }
    h2{
        font-size: 34px;
        line-height: 34px;
        text-align: center;
        font-weight: 400;
        width: 320px;
        margin: 198px auto 0 auto;
        @media (max-width: 767px){
          color: white;
          font-size: 28px;
          font-weight: lighter;
          text-align: center;
          margin: 5px auto 0 auto;
        }
    }
    p{
        font-size: 16px;
        color: white;
        line-height: 1.3;
        text-align: center;
        margin-top: 10px;
        max-width: 100%;
    }
    }
    .botao{
      margin-bottom: 30px;
      a{
        background: transparent;
        color: $vermelho-tivit;
        border: solid 1px $vermelho-tivit;        
      }
    }
    .arrow{
    margin-top: 0;
    }
    .zindex{
      z-index: 100;
    }
    .mask{
      max-width: 90%;
      @media (max-width: 768px){
        max-width: 100%;
      }
      mix-blend-mode: multiply;
    }
    .maskDiv{
      img{
          top: 10%;
          left: 0;
          width: 100%;
          mix-blend-mode: multiply;
      }
  }
}

.bgWhite{
    padding: 130px 0 50px 0;
    background: white;
    .container-fluid.intro{
        margin-left: 10.5% !important;
        @media(max-width: 1024px){
            margin-left: 0 !important;
        }
    }
    @media(max-width: 1024px){
        padding: 35px 0 50px 0;
    }
    h2{
        color: $vermelho-tivit;
        font-weight: lighter;
        text-transform: uppercase;
        font-size: 36px;
        margin-bottom: 25px;
        line-height: 1.3;
        @media(max-width: 1024px){
            text-align: center;
        }
    }
    p{
        font-size: 18px;
        color: $cinza-dark-cyber-tivit;
        font-weight: lighter;
        line-height: 1.3;
        margin-bottom: 40px;
        max-width: 550px;
        @media(max-width: 1024px){
            text-align: center;
        }
    }
}

.bgGray{
    background: #F5F6F7 !important;
}


.solucoes{
    .carousel-inner{
        right: -10.5% !important;
        height: 360px;
        @media(max-width: 1024px){
            right: 0 !important;
            height: auto;
        }
    }
    .carousel-control-next-icon {
        margin-left: 36px !important;
    }
    .custom-height{
        height: 100px;
    }
    h2{
        height: 60px;
        margin-bottom: 0;
    }
    p.tag{
        font-size: 12px !important;
        color: $cinza-dark-cyber-tivit;
        font-weight: lighter;
        line-height: 1.3;
        margin-bottom: 10px !important;
        margin-top: 0 !important;
    }
    .saibaMais{
        .buttonCta{
            text-decoration: unset;
            color: $vermelho-tivit;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            cursor: pointer;
            &:after{
                content: url('../../assets/images/esg/arrow-red-content.svg');
                margin-left: 9px;
                margin-top: 1px;
                transition: all .2s linear;
            }
        }
    }
    .controls{
        left: 11.5%;
        bottom: 0;
        @media(max-width: 1024px){
            position: relative !important;
            justify-content: center;
            align-items: center;
            left: 0;
            margin-top: 15px;
        }
    }
    .card{
        transition: .4s all;
        &:hover{
            background: $vermelho-dark-tivit;
            transition: .4s all;
            .content{
                border: 1px solid $vermelho-dark-tivit !important;
            }
            p.tag, h2, p, .buttonCta{
                color: white !important;
            }
            .buttonCta{
                &:after{
                    content: url('../../assets/images/esg/arrow-white-right.svg');
                    width: 12px !important;
                }
            }
        }
    }
}

@media(min-width: 1024px){
    //banner desktop
        .services-hero{
          height: 580px;
          background: url('../../assets/images/solucoes/bannersolucoesmain.jpg') no-repeat center center;
          background-size: cover;
          height: 580px;
          .services-hero-title{
            margin: 0 auto;
            h1{
                margin-top: 200px;
                font-size: 16px;
                line-height: 22px;
                font-weight: 600;
                color: #fff;
                text-transform: uppercase;
                text-align: center;
            }
            h2{
              font-weight: 500 !important; 
              color: white;
              text-align: center;
            }
            p{
                font-size: 18px;
                color: white;
                line-height: 1.3;
                text-align: center;
                margin-top: 15px;
                max-width: 554px;
            }
        }
        .arrow{
        margin-top: 0;
        }
        .mask{
            max-width: 1235px;
            top: 0;
        }
      }
    }